n8n-config/workflows/lesekumpel-story-generator.json
{"updatedAt":"2026-03-20T08:42:32.840Z","createdAt":"2026-03-19T13:18:27.527Z","id":"eHfC95UaMbJMcLTb","name":"Lesekumpel – Neuroinclusive Story Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Lesekumpel – Neue Geschichte erstellen","formDescription":"Erstelle eine neuroinclusive Kindergeschichte. Die Geschichte wird automatisch generiert und auf der Website veröffentlicht.\n\nLesestufe: 1, 3 oder 5\nPersona: lea, mia, timo, zara, leo","formFields":{"values":[{"fieldLabel":"Titel","fieldType":"text","requiredField":true,"placeholder":"z.B. Die mutige Maus im Supermarkt"},{"fieldLabel":"Genre","fieldType":"text","requiredField":true,"placeholder":"Humor / Abenteuer / Natur / Gaming / Familie / Wissen"},{"fieldLabel":"Lesestufe","fieldType":"text","requiredField":true,"placeholder":"1, 3 oder 5"},{"fieldLabel":"Persona","fieldType":"text","requiredField":true,"placeholder":"lea, mia, timo, zara oder leo"},{"fieldLabel":"Kurzbeschreibung","fieldType":"textarea","placeholder":"Worum geht es? Wer ist die Hauptfigur?"}]},"options":{}},"id":"form-trigger","name":"Formular: Geschichte anfordern","type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[240,500],"webhookId":"lesekumpel-story-form"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst title = (input['Titel'] || '').trim();\nconst genre = (input['Genre'] || 'Abenteuer').trim();\nconst stufe = parseInt((input['Lesestufe'] || '3').toString().replace(/[^0-9]/g, '')) || 3;\nconst persona = (input['Persona'] || 'lea').trim().toLowerCase();\nconst description = (input['Kurzbeschreibung'] || '').trim();\n\n// Slug\nconst umlautMap = { 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss', 'Ä': 'ae', 'Ö': 'oe', 'Ü': 'ue' };\nconst slug = title.toLowerCase()\n  .replace(/[äöüßÄÖÜ]/g, c => umlautMap[c] || c)\n  .replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/-+/g, '-')\n  .substring(0, 60) || 'neue-geschichte';\n\nconst stufeData = {\n  1: { label: 'Anfänger (Phase 1.0)', regeln: 'Max. 5 Wörter pro Satz. Nur Top-100-Grundwörter. Präsens. SPO-Sätze. Gesamt: 30-50 Wörter.', imageCount: 1 },\n  3: { label: 'Mittelstufe (Phase 3.4)', regeln: 'Gesamt: 80-100 Wörter. Konjunktionen erlaubt (weil, aber, denn). Einfache Nebensätze OK. Präteritum.', imageCount: 2 },\n  5: { label: 'Profi (Phase 5.3)', regeln: 'Gesamt: 200-300 Wörter. Abstrakta, Gefühle, Innenperspektive. Idiome erlaubt. Tiefe Charakterentwicklung.', imageCount: 4 }\n};\n\nconst personaMeta = {\n  lea:  { name: 'Lea Lesestark',    neurotype: 'Neurotypisch',             imgUrl: 'https://rala84.github.io/lesekumpel/avatars/lea-lesestark.webp',   bio: 'Lea erzählt Geschichten die dich sofort mitreißen. Warm, neugierig, und immer auf Augenhöhe.' },\n  timo: { name: 'Timo Taktschritt', neurotype: 'LRS/Legasthenie',          imgUrl: 'https://rala84.github.io/lesekumpel/avatars/timo-taktschritt.webp', bio: 'Timo schreibt im Rhythmus — kurze Wörter, klarer Beat. Lesen fühlt sich an wie Musik hören.' },\n  zara: { name: 'Zara Zapp',        neurotype: 'ADHS',                     imgUrl: 'https://rala84.github.io/lesekumpel/avatars/zara-zapp.webp',        bio: 'Zara ist immer in Bewegung! Erster Satz = sofortige Action. Langweile? Keine Chance!' },\n  leo:  { name: 'Leo Klartext',     neurotype: 'Autismus-Spektrum',        imgUrl: 'https://rala84.github.io/lesekumpel/avatars/leo-klartext.webp',     bio: 'Leo sagt genau was er meint. Keine Rätsel, keine Metaphern — nur klare, ehrliche Geschichten.' },\n  mia:  { name: 'Mia Brücke',       neurotype: 'Deutsch als Zweitsprache', imgUrl: 'https://rala84.github.io/lesekumpel/avatars/mia-bruecke.webp',      bio: 'Mia erklärt die Welt als wäre alles neu. Schwierige Wörter? Erklärt sie einfach!' }\n};\n\nconst p = personaMeta[persona] || personaMeta.lea;\nconst s = stufeData[stufe] || stufeData[3];\n\nconst userPrompt = `Schreib die Geschichte \"${title}\" auf Stufe ${stufe} (${s.label}).\nGenre: ${genre}\nKurzbeschreibung: ${description || 'Keine Beschreibung angegeben'}\n\nSTUFEN-REGELN:\n${s.regeln}\n\nSILBENTRENNUNG (PFLICHT):\nTrenne jede Silbe mit Bindestrich nach DUDEN: Son-ne, Was-ser, Früh-stück, lau-fen\nEinsilbige Wörter bleiben ungeteilt: der, die, das, hat, kam\n\nAUFBAU (diese Labels verwenden):\nGESCHICHTE: [vollständiger Text]\nZUSAMMENFASSUNG: [2-3 Sätze]`;\n\nreturn {\n  json: {\n    title, genre, stufe, stufeLabel: s.label, persona, description,\n    slug, date: new Date().toISOString().split('T')[0],\n    personaName: p.name, neurotype: p.neurotype,\n    personaImg: p.imgUrl, personaBio: p.bio,\n    imageCount: s.imageCount, stufeRegeln: s.regeln, userPrompt\n  }\n};\n","mode":"runOnceForEachItem"},"id":"prepare-data","name":"Daten vorbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,500]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst { title, description, persona, stufe } = d;\n\nconst BLOCKED = ['gewalt', 'waffe', 'sex', 'drogen', 'sterben', 'töten', 'mord'];\nconst hit = BLOCKED.find(w => (title + ' ' + description).toLowerCase().includes(w));\nif (hit) throw new Error(`Inhalt nicht kindgerecht: \"${hit}\" gefunden`);\n\nconst VALID = { lea: [1,3,5], mia: [1,3,5], timo: [3,5], zara: [3,5], leo: [5] };\nconst allowed = VALID[persona] || [];\nif (!allowed.includes(Number(stufe))) {\n  throw new Error(`${persona} ist auf Stufe ${stufe} nicht verfügbar. Gültig: Stufen ${JSON.stringify(VALID[persona] || [])}`);\n}\nreturn { json: d };\n","mode":"runOnceForEachItem"},"id":"guardrail","name":"Guardrail: Kind-Safe + Matrix","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"lea","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lea"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"timo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"timo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"zara","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"zara"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"leo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"leo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"mia","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mia"}]},"options":{}},"id":"switch-persona","name":"Switch: Welche Persona?","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[900,500]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Lea Lesestark, eine warme und neugierige Kinderbuchautorin.\nStimme: ausgewogen, lebendig, klassische Kinderbucherzählerin.\n\nDEINE REGELN:\n- Ausgewogene Satzlänge — nicht zu kurz, nicht zu lang\n- Lebendige Handlung: klarer Anfang, Mitte, Ende\n- Gelegentliche Metaphern erlaubt\n- Leichtes Augenzwinkern und Humor willkommen\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-lea","name":"📖 Lea Lesestark (Standard/NT)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,100]},{"parameters":{"options":{}},"id":"llm-lea","name":"⚙️ Gemini (Lea)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,280],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Timo Taktschritt, ein rhythmischer Kinderbuchautor.\nStimme: gleichmäßig, musikalisch — jeder Satz klingt wie Musik.\n\nDEINE REGELN:\n- Bevorzuge 1–2-silbige Wörter wo möglich\n- KEIN Genitiv: schreib 'das Haus von der Katze' statt 'das Haus der Katze'\n- Keine Konjunktionshäufung (nicht mehrere 'weil, da, aber, obwohl' im gleichen Satz)\n- Absatz-Break alle 2–3 Sätze\n- Satzenden klingen klangvoll (Alliteration oder Reim optional)\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-timo","name":"🎵 Timo Taktschritt (LRS/Legasthenie)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,400]},{"parameters":{"options":{}},"id":"llm-timo","name":"⚙️ Gemini (Timo)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,580],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Zara Zapp, eine energetische Kinderbuchautorin.\nStimme: schnell, direkt, immer mittendrin.\n\nDEINE REGELN:\n- ERSTER SATZ = sofortige Action! Keine Einleitung, keine Beschreibung.\n- Max. 2 Sätze pro Absatz\n- Jeder Abschnitt endet mit Überraschung oder offener Frage\n- Aktive Verben: rannte, schrie, packte, sprang, entdeckte\n- Kein beschreibender Sumpf — keine langen Adjektiv-Ketten\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-zara","name":"⚡ Zara Zapp (ADHS)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,700]},{"parameters":{"options":{}},"id":"llm-zara","name":"⚙️ Gemini (Zara)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Leo Klartext, ein präziser, ehrlicher Kinderbuchautor.\nStimme: zuverlässig, direkt — du sagst genau was du meinst.\n\nDEINE REGELN:\n- KEINE Metaphern oder Redewendungen (nicht: 'Schmetterlinge im Bauch')\n- Gefühle IMMER direkt benennen: 'Er war wütend, weil...'\n- Figurenmotivationen vollständig erklären\n- Kein Sarkasmus, keine Ironie\n- Linearer Aufbau: chronologisch, keine Rückblenden\n- Doppeldeutigkeiten vermeiden\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-leo","name":"🔍 Leo Klartext (Autismus-Spektrum)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,1000]},{"parameters":{"options":{}},"id":"llm-leo","name":"⚙️ Gemini (Leo)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,1180],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Mia Brücke, eine einladende, geduldige Kinderbuchautorin.\nStimme: bildhaft — erklärt die Welt als wäre alles neu und spannend.\n\nDEINE REGELN:\n- KEIN Passiv ('wurde gegessen' → schreib stattdessen 'der Hund aß')\n- KEINE Komposita — trenne zusammengesetzte Wörter auf ('Handtasche' → 'die Tasche für die Hand')\n- KEINE kulturellen Referenzen die man kennen muss\n- Schwierige Wörter sofort inline erklären: 'der Döner — das ist Fleisch in Brot'\n- Einfache, klare Satzstruktur\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-mia","name":"🌍 Mia Brücke (DaZ)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,1300]},{"parameters":{"options":{}},"id":"llm-mia","name":"⚙️ Gemini (Mia)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,1480],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const input = $('Daten vorbereiten').first().json;\nconst responseText = $input.item.json.text || '';\n\nconst storyMatch = responseText.match(/GESCHICHTE:[\\s\\S]*?(?=ZUSAMMENFASSUNG:|$)/);\nconst summaryMatch = responseText.match(/ZUSAMMENFASSUNG:[\\s\\S]*/);\n\nconst storyText = storyMatch ? storyMatch[0].replace('GESCHICHTE:', '').trim() : responseText.trim();\nconst summaryText = summaryMatch ? summaryMatch[0].replace('ZUSAMMENFASSUNG:', '').trim() : storyText.split('\\n')[0];\nconst wordCount = storyText.split(/\\s+/).length;\n\nreturn { json: { ...input, storyText, summaryText, wordCount } };\n","mode":"runOnceForEachItem"},"id":"parse-story","name":"Geschichte parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,700]},{"parameters":{"promptType":"define","text":"={{ 'Analysiere diesen Kindertext und gib JSON zurück:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON, kein Markdown):\\n{\"wortschatz\": [{\"wort\": \"Beispiel\", \"silben\": \"Bei-spiel\", \"bedeutung\": \"Kurze Erklärung\"}], \"tags\": [\"tag1\", \"tag2\"]}\\n\\nWortschatz: 3-6 schwierige Wörter. Tags: 3-5 Themen.' }}","messages":{"messageValues":[{"message":"Du bist ein Linguistik-Assistent für Kinderliteratur.\nDeine Aufgabe: Analysiere Kindertexte und gib strukturiertes JSON zurück.\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen, keine Code-Blöcke."}]},"batching":{}},"id":"agent-linguistik","name":"📚 Linguistik-Anreicherung","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1680,700]},{"parameters":{"options":{}},"id":"llm-linguistik","name":"⚙️ Gemini (Linguistik)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1680,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const prev = $('Geschichte parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet wortschatz = [], tags = [];\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); wortschatz = p.wortschatz || []; tags = p.tags || []; }\n} catch(e) { tags = [prev.genre]; }\n\nreturn { json: { ...prev, wortschatz, tags } };\n","mode":"runOnceForEachItem"},"id":"parse-linguistik","name":"Linguistik parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,700]},{"parameters":{"promptType":"define","text":"={{ 'Erstelle 3 Multiple-Choice-Fragen zu diesem Kindertext:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON-Array, kein Markdown):\\n[{\"q\":\"Frage?\",\"a\":[\"Option A\",\"Option B\",\"Option C\"],\"correct\":0}]\\n\\ncorrect = Index der richtigen Antwort (0, 1 oder 2). Fragen auf Deutsch, für 6-10 Jahre.' }}","messages":{"messageValues":[{"message":"Du bist ein Quiz-Ersteller für Kinderliteratur (Zielgruppe: 6-10 Jahre).\nErstelle genau 3 Multiple-Choice-Fragen auf Deutsch.\nJede Frage hat genau 3 Antwortoptionen (eine richtig, zwei plausibel falsch).\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."}]},"batching":{}},"id":"agent-quiz","name":"🧠 Quizmaster","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2200,700]},{"parameters":{"options":{}},"id":"llm-quiz","name":"⚙️ Gemini (Quiz)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2200,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const prev = $('Linguistik parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet quizData = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) quizData = JSON.parse(m[0]); } catch(e) {}\n\nreturn { json: { ...prev, quizData } };\n","mode":"runOnceForEachItem"},"id":"parse-quiz","name":"Quiz parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[2460,700]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst imageCount = d.imageCount || 1;\nconst style = 'children\\'s book watercolor illustration, soft pastel colors, warm and friendly, white background, no text in image, high quality';\nconst sceneUserPrompt = `Extrahiere ${imageCount} Schlüsselszene(n) aus dieser Geschichte als englische Bildprompts.\\n\\nSTIL (immer gleich): ${style}\\n\\nFormat (nur JSON-Array, kein Markdown):\\n[{\"scene\":1,\"prompt\":\"Englischer kinderfreundlicher Bildprompt\"}]\\n\\nGeschichte:\\n${d.storyText}`;\nreturn { json: { ...d, sceneUserPrompt } };\n","mode":"runOnceForEachItem"},"id":"scene-prep","name":"Bildszenen vorbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,700]},{"parameters":{"promptType":"define","text":"={{ $json.sceneUserPrompt }}","messages":{"messageValues":[{"message":"Du bist ein Bildregisseur für Kinderbücher.\nErstelle sichere, kinderfreundliche englische Bildprompts für KI-Bildgenerierung.\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."}]},"batching":{}},"id":"agent-szenen","name":"🎨 Szenen-Extraktor","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2940,700]},{"parameters":{"options":{}},"id":"llm-szenen","name":"⚙️ Gemini (Szenen)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2940,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const prev = $('Bildszenen vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\n\nlet scenes = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) scenes = JSON.parse(m[0]); } catch(e) {}\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  scenes = [{ scene: 1, prompt: `Children's book watercolor illustration, soft pastel colors, a friendly scene from the story '${prev.title}', child-safe` }];\n}\n\nreturn scenes.map(s => ({\n  json: {\n    ...prev,\n    sceneIndex: s.scene,\n    imagePrompt: s.prompt,\n    imageFilename: `${prev.slug}-${s.scene}.png`,\n    imageGithubPath: `bilder/${prev.slug}-${s.scene}.png`,\n    geminiRequestBody: {\n      contents: [{ role: 'user', parts: [{ text: s.prompt }] }],\n      generationConfig: { responseModalities: ['image', 'text'] }\n    }\n  }\n}));\n","mode":"runOnceForAllItems"},"id":"parse-scenes","name":"Szenen parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,700]},{"parameters":{"batchSize":1,"options":{}},"id":"image-loop","name":"Bild-Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3440,700]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image","mode":"list","cachedResultName":"models/gemini-2.5-flash-image (Nano Banana)"},"prompt":"={{ $json.imagePrompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"id":"generate-image","name":"Gemini: Bild generieren","position":[3660,580],"retryOnFail":true,"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"id":"extract-image","name":"Bild-Daten extrahieren","position":[3880,580]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"RaLa84","mode":"name"},"repository":{"__rl":true,"value":"lesekumpel","mode":"list","cachedResultName":"lesekumpel","cachedResultUrl":"https://github.com/RaLa84/lesekumpel"},"filePath":"={{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageGithubPath }}","fileContent":"={{ $json.data }}","commitMessage":"=Bild: {{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageFilename }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"id":"upload-image","name":"GitHub: Bild hochladen","position":[4100,580],"credentials":{"githubOAuth2Api":{"id":"WBP07xjckQiul5s7","name":"GitHub account"}}},{"parameters":{"method":"GET","url":"https://raw.githubusercontent.com/RaLa84/lesekumpel/main/n8n-config/demo-template.html","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"id":"fetch-template","name":"GitHub: Template laden","position":[3660,860]},{"parameters":{"jsCode":"const data = $('Quiz parsen').first().json;\nlet template = $input.item.json.data;\n\n// Generate image tags for all images (1 to imageCount)\nconst imageCount = data.imageCount || 1;\nlet imagesHtml = '';\nfor (let i = 1; i <= imageCount; i++) {\n  const imgUrl = `https://rala84.github.io/lesekumpel/bilder/${data.slug}-${i}.png`;\n  imagesHtml += `<img src=\"${imgUrl}\" alt=\"${data.title}\" class=\"hero-image\" onerror=\"this.style.display='none'\">\n        `;\n}\n\ntemplate = template\n  .replace(/\\{\\{STORY_TITLE\\}\\}/g, data.title)\n  .replace(/\\{\\{STORY_DATE\\}\\}/g, data.date)\n  .replace(/\\{\\{PERSONA_NAME\\}\\}/g, data.personaName)\n  .replace(/\\{\\{PERSONA_IMG_URL\\}\\}/g, data.personaImg)\n  .replace(/\\{\\{PERSONA_BIO\\}\\}/g, data.personaBio)\n  .replace(/\\{\\{STUFE\\}\\}/g, String(data.stufe))\n  .replace(/\\{\\{STUFE_LABEL\\}\\}/g, data.stufeLabel || '')\n  .replace(/\\{\\{NEUROTYPE\\}\\}/g, data.neurotype)\n  .replace(/\\{\\{GENRE\\}\\}/g, data.genre)\n  .replace(/\\{\\{STORY_IMAGES_HTML\\}\\}/g, imagesHtml.trim())\n  .replace(/\\{\\{HERO_IMAGE_URL\\}\\}/g, `https://rala84.github.io/lesekumpel/bilder/${data.slug}-1.png`)\n  .replace(/\\{\\{RAW_STORY_TEXT\\}\\}/g, JSON.stringify(data.storyText || ''))\n  .replace(/\\{\\{RAW_SUMMARY_TEXT\\}\\}/g, JSON.stringify(data.summaryText || ''))\n  .replace(/\\{\\{QUIZ_DATA_JSON\\}\\}/g, JSON.stringify(data.quizData || []))\n  .replace(/\\{\\{DICTIONARY_JSON\\}\\}/g, JSON.stringify(data.wortschatz || []))\n  .replace(/\\{\\{WORD_COUNT\\}\\}/g, String(data.wordCount || 0))\n  .replace(/\\{\\{SLUG\\}\\}/g, data.slug)\n  .replace(/\\{\\{RELATED_STORIES_HTML\\}\\}/g, '');\n\nconst htmlBase64 = Buffer.from(template, 'utf8').toString('base64');\nconst storyUrl = `https://rala84.github.io/lesekumpel/demo-texte/${data.slug}.html`;\n\nreturn { json: { ...data, htmlBase64, filePath: `demo-texte/${data.slug}.html`, commitMessage: `Demo-Text: ${data.title} — ${data.personaName} Stufe ${data.stufe}`, storyUrl } };\n","mode":"runOnceForEachItem"},"id":"assemble-html","name":"HTML assemblieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[3880,860]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"RaLa84","mode":"name"},"repository":{"__rl":true,"value":"lesekumpel","mode":"list","cachedResultName":"lesekumpel","cachedResultUrl":"https://github.com/RaLa84/lesekumpel"},"filePath":"={{ $json.filePath }}","fileContent":"={{ $json.htmlBase64 }}","commitMessage":"={{ $json.commitMessage }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"id":"commit-html","name":"GitHub: HTML committen","position":[4100,860],"credentials":{"githubOAuth2Api":{"id":"WBP07xjckQiul5s7","name":"GitHub account"}}},{"parameters":{"jsCode":"const data = $('HTML assemblieren').first().json;\nreturn { json: { status: 'success', storyTitle: data.title, personaName: data.personaName, stufe: data.stufe, wordCount: data.wordCount, imageCount: data.imageCount, storyUrl: data.storyUrl } };\n","mode":"runOnceForEachItem"},"id":"build-result","name":"Ergebnis aufbauen","type":"n8n-nodes-base.code","typeVersion":2,"position":[4320,860]},{"parameters":{"operation":"completion","respondWith":"text","completionTitle":"=Geschichte erstellt: {{ $json.storyTitle }}","completionMessage":"={{ $json.personaName }} hat deine Geschichte geschrieben! Stufe {{ $json.stufe }}, {{ $json.wordCount }} Wörter.\n\nLink: {{ $json.storyUrl }}"},"type":"n8n-nodes-base.form","typeVersion":2.3,"id":"form-response","name":"Formular-Antwort","position":[4540,860]},{"parameters":{"maxItems":1},"type":"n8n-nodes-base.limit","typeVersion":1,"id":"limit-one","name":"Nur 1 Item","position":[3550,860]}],"connections":{"Formular: Geschichte anfordern":{"main":[[{"node":"Daten vorbereiten","type":"main","index":0}]]},"Daten vorbereiten":{"main":[[{"node":"Guardrail: Kind-Safe + Matrix","type":"main","index":0}]]},"Guardrail: Kind-Safe + Matrix":{"main":[[{"node":"Switch: Welche Persona?","type":"main","index":0}]]},"Switch: Welche Persona?":{"main":[[{"node":"📖 Lea Lesestark (Standard/NT)","type":"main","index":0}],[{"node":"🎵 Timo Taktschritt (LRS/Legasthenie)","type":"main","index":0}],[{"node":"⚡ Zara Zapp (ADHS)","type":"main","index":0}],[{"node":"🔍 Leo Klartext (Autismus-Spektrum)","type":"main","index":0}],[{"node":"🌍 Mia Brücke (DaZ)","type":"main","index":0}]]},"⚙️ Gemini (Lea)":{"ai_languageModel":[[{"node":"📖 Lea Lesestark (Standard/NT)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Timo)":{"ai_languageModel":[[{"node":"🎵 Timo Taktschritt (LRS/Legasthenie)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Zara)":{"ai_languageModel":[[{"node":"⚡ Zara Zapp (ADHS)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Leo)":{"ai_languageModel":[[{"node":"🔍 Leo Klartext (Autismus-Spektrum)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Mia)":{"ai_languageModel":[[{"node":"🌍 Mia Brücke (DaZ)","type":"ai_languageModel","index":0}]]},"📖 Lea Lesestark (Standard/NT)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"🎵 Timo Taktschritt (LRS/Legasthenie)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"⚡ Zara Zapp (ADHS)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"🔍 Leo Klartext (Autismus-Spektrum)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"🌍 Mia Brücke (DaZ)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"Geschichte parsen":{"main":[[{"node":"📚 Linguistik-Anreicherung","type":"main","index":0}]]},"⚙️ Gemini (Linguistik)":{"ai_languageModel":[[{"node":"📚 Linguistik-Anreicherung","type":"ai_languageModel","index":0}]]},"📚 Linguistik-Anreicherung":{"main":[[{"node":"Linguistik parsen","type":"main","index":0}]]},"Linguistik parsen":{"main":[[{"node":"🧠 Quizmaster","type":"main","index":0}]]},"⚙️ Gemini (Quiz)":{"ai_languageModel":[[{"node":"🧠 Quizmaster","type":"ai_languageModel","index":0}]]},"🧠 Quizmaster":{"main":[[{"node":"Quiz parsen","type":"main","index":0}]]},"Quiz parsen":{"main":[[{"node":"Bildszenen vorbereiten","type":"main","index":0}]]},"Bildszenen vorbereiten":{"main":[[{"node":"🎨 Szenen-Extraktor","type":"main","index":0}]]},"⚙️ Gemini (Szenen)":{"ai_languageModel":[[{"node":"🎨 Szenen-Extraktor","type":"ai_languageModel","index":0}]]},"🎨 Szenen-Extraktor":{"main":[[{"node":"Szenen parsen","type":"main","index":0}]]},"Szenen parsen":{"main":[[{"node":"Bild-Loop","type":"main","index":0}]]},"Bild-Loop":{"main":[[{"node":"Nur 1 Item","type":"main","index":0}],[{"node":"Gemini: Bild generieren","type":"main","index":0}]]},"Gemini: Bild generieren":{"main":[[{"node":"Bild-Daten extrahieren","type":"main","index":0}]]},"Bild-Daten extrahieren":{"main":[[{"node":"GitHub: Bild hochladen","type":"main","index":0}]]},"GitHub: Bild hochladen":{"main":[[{"node":"Bild-Loop","type":"main","index":0}]]},"GitHub: Template laden":{"main":[[{"node":"HTML assemblieren","type":"main","index":0}]]},"HTML assemblieren":{"main":[[{"node":"GitHub: HTML committen","type":"main","index":0}]]},"GitHub: HTML committen":{"main":[[{"node":"Ergebnis aufbauen","type":"main","index":0}]]},"Ergebnis aufbauen":{"main":[[{"node":"Formular-Antwort","type":"main","index":0}]]},"Nur 1 Item":{"main":[[{"node":"GitHub: Template laden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Formular: Geschichte anfordern":[{"json":{"Titel":"Der durstige und hungrige Biber im Saftladen","Genre":"Humor","Lesestufe":"3","Persona":"lea","Kurzbeschreibung":"Der Biber mit Namen Bibi trinkt die Limo aus und futtert den Holztisch auf","submittedAt":"2026-03-19T15:06:16.162+01:00","formMode":"test"}}]},"versionId":"d005a276-5bdc-4629-8b6e-f4a641930ee8","activeVersionId":"d005a276-5bdc-4629-8b6e-f4a641930ee8","versionCounter":163,"triggerCount":1,"shared":[{"updatedAt":"2026-03-19T13:18:27.529Z","createdAt":"2026-03-19T13:18:27.529Z","role":"workflow:owner","workflowId":"eHfC95UaMbJMcLTb","projectId":"7DKNq7xhMrsfvZui","project":{"updatedAt":"2025-12-09T14:04:24.508Z","createdAt":"2025-12-09T14:04:19.022Z","id":"7DKNq7xhMrsfvZui","name":"Raik Lasner <raik.lasner@googlemail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-09T14:04:19.022Z","createdAt":"2025-12-09T14:04:19.022Z","userId":"308fb5dc-7474-4112-a328-f5a434552a00","projectId":"7DKNq7xhMrsfvZui","user":{"updatedAt":"2026-03-20T07:46:07.000Z","createdAt":"2025-12-09T14:04:17.380Z","id":"308fb5dc-7474-4112-a328-f5a434552a00","email":"raik.lasner@googlemail.com","firstName":"Raik","lastName":"Lasner","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"754WU5QkgUk9acBk","userActivatedAt":1765294032281,"npsSurvey":{"responded":true,"lastShownAt":1765785201621}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-19","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T08:42:32.842Z","createdAt":"2026-03-20T08:42:32.842Z","versionId":"d005a276-5bdc-4629-8b6e-f4a641930ee8","workflowId":"eHfC95UaMbJMcLTb","nodes":[{"parameters":{"formTitle":"Lesekumpel – Neue Geschichte erstellen","formDescription":"Erstelle eine neuroinclusive Kindergeschichte. Die Geschichte wird automatisch generiert und auf der Website veröffentlicht.\n\nLesestufe: 1, 3 oder 5\nPersona: lea, mia, timo, zara, leo","formFields":{"values":[{"fieldLabel":"Titel","fieldType":"text","requiredField":true,"placeholder":"z.B. Die mutige Maus im Supermarkt"},{"fieldLabel":"Genre","fieldType":"text","requiredField":true,"placeholder":"Humor / Abenteuer / Natur / Gaming / Familie / Wissen"},{"fieldLabel":"Lesestufe","fieldType":"text","requiredField":true,"placeholder":"1, 3 oder 5"},{"fieldLabel":"Persona","fieldType":"text","requiredField":true,"placeholder":"lea, mia, timo, zara oder leo"},{"fieldLabel":"Kurzbeschreibung","fieldType":"textarea","placeholder":"Worum geht es? Wer ist die Hauptfigur?"}]},"options":{}},"id":"form-trigger","name":"Formular: Geschichte anfordern","type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[240,500],"webhookId":"lesekumpel-story-form"},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst title = (input['Titel'] || '').trim();\nconst genre = (input['Genre'] || 'Abenteuer').trim();\nconst stufe = parseInt((input['Lesestufe'] || '3').toString().replace(/[^0-9]/g, '')) || 3;\nconst persona = (input['Persona'] || 'lea').trim().toLowerCase();\nconst description = (input['Kurzbeschreibung'] || '').trim();\n\n// Slug\nconst umlautMap = { 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss', 'Ä': 'ae', 'Ö': 'oe', 'Ü': 'ue' };\nconst slug = title.toLowerCase()\n  .replace(/[äöüßÄÖÜ]/g, c => umlautMap[c] || c)\n  .replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/-+/g, '-')\n  .substring(0, 60) || 'neue-geschichte';\n\nconst stufeData = {\n  1: { label: 'Anfänger (Phase 1.0)', regeln: 'Max. 5 Wörter pro Satz. Nur Top-100-Grundwörter. Präsens. SPO-Sätze. Gesamt: 30-50 Wörter.', imageCount: 1 },\n  3: { label: 'Mittelstufe (Phase 3.4)', regeln: 'Gesamt: 80-100 Wörter. Konjunktionen erlaubt (weil, aber, denn). Einfache Nebensätze OK. Präteritum.', imageCount: 2 },\n  5: { label: 'Profi (Phase 5.3)', regeln: 'Gesamt: 200-300 Wörter. Abstrakta, Gefühle, Innenperspektive. Idiome erlaubt. Tiefe Charakterentwicklung.', imageCount: 4 }\n};\n\nconst personaMeta = {\n  lea:  { name: 'Lea Lesestark',    neurotype: 'Neurotypisch',             imgUrl: 'https://rala84.github.io/lesekumpel/avatars/lea-lesestark.webp',   bio: 'Lea erzählt Geschichten die dich sofort mitreißen. Warm, neugierig, und immer auf Augenhöhe.' },\n  timo: { name: 'Timo Taktschritt', neurotype: 'LRS/Legasthenie',          imgUrl: 'https://rala84.github.io/lesekumpel/avatars/timo-taktschritt.webp', bio: 'Timo schreibt im Rhythmus — kurze Wörter, klarer Beat. Lesen fühlt sich an wie Musik hören.' },\n  zara: { name: 'Zara Zapp',        neurotype: 'ADHS',                     imgUrl: 'https://rala84.github.io/lesekumpel/avatars/zara-zapp.webp',        bio: 'Zara ist immer in Bewegung! Erster Satz = sofortige Action. Langweile? Keine Chance!' },\n  leo:  { name: 'Leo Klartext',     neurotype: 'Autismus-Spektrum',        imgUrl: 'https://rala84.github.io/lesekumpel/avatars/leo-klartext.webp',     bio: 'Leo sagt genau was er meint. Keine Rätsel, keine Metaphern — nur klare, ehrliche Geschichten.' },\n  mia:  { name: 'Mia Brücke',       neurotype: 'Deutsch als Zweitsprache', imgUrl: 'https://rala84.github.io/lesekumpel/avatars/mia-bruecke.webp',      bio: 'Mia erklärt die Welt als wäre alles neu. Schwierige Wörter? Erklärt sie einfach!' }\n};\n\nconst p = personaMeta[persona] || personaMeta.lea;\nconst s = stufeData[stufe] || stufeData[3];\n\nconst userPrompt = `Schreib die Geschichte \"${title}\" auf Stufe ${stufe} (${s.label}).\nGenre: ${genre}\nKurzbeschreibung: ${description || 'Keine Beschreibung angegeben'}\n\nSTUFEN-REGELN:\n${s.regeln}\n\nSILBENTRENNUNG (PFLICHT):\nTrenne jede Silbe mit Bindestrich nach DUDEN: Son-ne, Was-ser, Früh-stück, lau-fen\nEinsilbige Wörter bleiben ungeteilt: der, die, das, hat, kam\n\nAUFBAU (diese Labels verwenden):\nGESCHICHTE: [vollständiger Text]\nZUSAMMENFASSUNG: [2-3 Sätze]`;\n\nreturn {\n  json: {\n    title, genre, stufe, stufeLabel: s.label, persona, description,\n    slug, date: new Date().toISOString().split('T')[0],\n    personaName: p.name, neurotype: p.neurotype,\n    personaImg: p.imgUrl, personaBio: p.bio,\n    imageCount: s.imageCount, stufeRegeln: s.regeln, userPrompt\n  }\n};\n","mode":"runOnceForEachItem"},"id":"prepare-data","name":"Daten vorbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,500]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst { title, description, persona, stufe } = d;\n\nconst BLOCKED = ['gewalt', 'waffe', 'sex', 'drogen', 'sterben', 'töten', 'mord'];\nconst hit = BLOCKED.find(w => (title + ' ' + description).toLowerCase().includes(w));\nif (hit) throw new Error(`Inhalt nicht kindgerecht: \"${hit}\" gefunden`);\n\nconst VALID = { lea: [1,3,5], mia: [1,3,5], timo: [3,5], zara: [3,5], leo: [5] };\nconst allowed = VALID[persona] || [];\nif (!allowed.includes(Number(stufe))) {\n  throw new Error(`${persona} ist auf Stufe ${stufe} nicht verfügbar. Gültig: Stufen ${JSON.stringify(VALID[persona] || [])}`);\n}\nreturn { json: d };\n","mode":"runOnceForEachItem"},"id":"guardrail","name":"Guardrail: Kind-Safe + Matrix","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"lea","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lea"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"timo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"timo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"zara","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"zara"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"leo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"leo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.persona }}","rightValue":"mia","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mia"}]},"options":{}},"id":"switch-persona","name":"Switch: Welche Persona?","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[900,500]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Lea Lesestark, eine warme und neugierige Kinderbuchautorin.\nStimme: ausgewogen, lebendig, klassische Kinderbucherzählerin.\n\nDEINE REGELN:\n- Ausgewogene Satzlänge — nicht zu kurz, nicht zu lang\n- Lebendige Handlung: klarer Anfang, Mitte, Ende\n- Gelegentliche Metaphern erlaubt\n- Leichtes Augenzwinkern und Humor willkommen\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-lea","name":"📖 Lea Lesestark (Standard/NT)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,100]},{"parameters":{"options":{}},"id":"llm-lea","name":"⚙️ Gemini (Lea)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,280],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Timo Taktschritt, ein rhythmischer Kinderbuchautor.\nStimme: gleichmäßig, musikalisch — jeder Satz klingt wie Musik.\n\nDEINE REGELN:\n- Bevorzuge 1–2-silbige Wörter wo möglich\n- KEIN Genitiv: schreib 'das Haus von der Katze' statt 'das Haus der Katze'\n- Keine Konjunktionshäufung (nicht mehrere 'weil, da, aber, obwohl' im gleichen Satz)\n- Absatz-Break alle 2–3 Sätze\n- Satzenden klingen klangvoll (Alliteration oder Reim optional)\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-timo","name":"🎵 Timo Taktschritt (LRS/Legasthenie)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,400]},{"parameters":{"options":{}},"id":"llm-timo","name":"⚙️ Gemini (Timo)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,580],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Zara Zapp, eine energetische Kinderbuchautorin.\nStimme: schnell, direkt, immer mittendrin.\n\nDEINE REGELN:\n- ERSTER SATZ = sofortige Action! Keine Einleitung, keine Beschreibung.\n- Max. 2 Sätze pro Absatz\n- Jeder Abschnitt endet mit Überraschung oder offener Frage\n- Aktive Verben: rannte, schrie, packte, sprang, entdeckte\n- Kein beschreibender Sumpf — keine langen Adjektiv-Ketten\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-zara","name":"⚡ Zara Zapp (ADHS)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,700]},{"parameters":{"options":{}},"id":"llm-zara","name":"⚙️ Gemini (Zara)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Leo Klartext, ein präziser, ehrlicher Kinderbuchautor.\nStimme: zuverlässig, direkt — du sagst genau was du meinst.\n\nDEINE REGELN:\n- KEINE Metaphern oder Redewendungen (nicht: 'Schmetterlinge im Bauch')\n- Gefühle IMMER direkt benennen: 'Er war wütend, weil...'\n- Figurenmotivationen vollständig erklären\n- Kein Sarkasmus, keine Ironie\n- Linearer Aufbau: chronologisch, keine Rückblenden\n- Doppeldeutigkeiten vermeiden\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-leo","name":"🔍 Leo Klartext (Autismus-Spektrum)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,1000]},{"parameters":{"options":{}},"id":"llm-leo","name":"⚙️ Gemini (Leo)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,1180],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","messages":{"messageValues":[{"message":"Du bist Mia Brücke, eine einladende, geduldige Kinderbuchautorin.\nStimme: bildhaft — erklärt die Welt als wäre alles neu und spannend.\n\nDEINE REGELN:\n- KEIN Passiv ('wurde gegessen' → schreib stattdessen 'der Hund aß')\n- KEINE Komposita — trenne zusammengesetzte Wörter auf ('Handtasche' → 'die Tasche für die Hand')\n- KEINE kulturellen Referenzen die man kennen muss\n- Schwierige Wörter sofort inline erklären: 'der Döner — das ist Fleisch in Brot'\n- Einfache, klare Satzstruktur\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."}]},"batching":{}},"id":"agent-mia","name":"🌍 Mia Brücke (DaZ)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1140,1300]},{"parameters":{"options":{}},"id":"llm-mia","name":"⚙️ Gemini (Mia)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,1480],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const input = $('Daten vorbereiten').first().json;\nconst responseText = $input.item.json.text || '';\n\nconst storyMatch = responseText.match(/GESCHICHTE:[\\s\\S]*?(?=ZUSAMMENFASSUNG:|$)/);\nconst summaryMatch = responseText.match(/ZUSAMMENFASSUNG:[\\s\\S]*/);\n\nconst storyText = storyMatch ? storyMatch[0].replace('GESCHICHTE:', '').trim() : responseText.trim();\nconst summaryText = summaryMatch ? summaryMatch[0].replace('ZUSAMMENFASSUNG:', '').trim() : storyText.split('\\n')[0];\nconst wordCount = storyText.split(/\\s+/).length;\n\nreturn { json: { ...input, storyText, summaryText, wordCount } };\n","mode":"runOnceForEachItem"},"id":"parse-story","name":"Geschichte parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,700]},{"parameters":{"promptType":"define","text":"={{ 'Analysiere diesen Kindertext und gib JSON zurück:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON, kein Markdown):\\n{\"wortschatz\": [{\"wort\": \"Beispiel\", \"silben\": \"Bei-spiel\", \"bedeutung\": \"Kurze Erklärung\"}], \"tags\": [\"tag1\", \"tag2\"]}\\n\\nWortschatz: 3-6 schwierige Wörter. Tags: 3-5 Themen.' }}","messages":{"messageValues":[{"message":"Du bist ein Linguistik-Assistent für Kinderliteratur.\nDeine Aufgabe: Analysiere Kindertexte und gib strukturiertes JSON zurück.\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen, keine Code-Blöcke."}]},"batching":{}},"id":"agent-linguistik","name":"📚 Linguistik-Anreicherung","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1680,700]},{"parameters":{"options":{}},"id":"llm-linguistik","name":"⚙️ Gemini (Linguistik)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1680,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const prev = $('Geschichte parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet wortschatz = [], tags = [];\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); wortschatz = p.wortschatz || []; tags = p.tags || []; }\n} catch(e) { tags = [prev.genre]; }\n\nreturn { json: { ...prev, wortschatz, tags } };\n","mode":"runOnceForEachItem"},"id":"parse-linguistik","name":"Linguistik parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,700]},{"parameters":{"promptType":"define","text":"={{ 'Erstelle 3 Multiple-Choice-Fragen zu diesem Kindertext:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON-Array, kein Markdown):\\n[{\"q\":\"Frage?\",\"a\":[\"Option A\",\"Option B\",\"Option C\"],\"correct\":0}]\\n\\ncorrect = Index der richtigen Antwort (0, 1 oder 2). Fragen auf Deutsch, für 6-10 Jahre.' }}","messages":{"messageValues":[{"message":"Du bist ein Quiz-Ersteller für Kinderliteratur (Zielgruppe: 6-10 Jahre).\nErstelle genau 3 Multiple-Choice-Fragen auf Deutsch.\nJede Frage hat genau 3 Antwortoptionen (eine richtig, zwei plausibel falsch).\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."}]},"batching":{}},"id":"agent-quiz","name":"🧠 Quizmaster","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2200,700]},{"parameters":{"options":{}},"id":"llm-quiz","name":"⚙️ Gemini (Quiz)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2200,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const prev = $('Linguistik parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet quizData = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) quizData = JSON.parse(m[0]); } catch(e) {}\n\nreturn { json: { ...prev, quizData } };\n","mode":"runOnceForEachItem"},"id":"parse-quiz","name":"Quiz parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[2460,700]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst imageCount = d.imageCount || 1;\nconst style = 'children\\'s book watercolor illustration, soft pastel colors, warm and friendly, white background, no text in image, high quality';\nconst sceneUserPrompt = `Extrahiere ${imageCount} Schlüsselszene(n) aus dieser Geschichte als englische Bildprompts.\\n\\nSTIL (immer gleich): ${style}\\n\\nFormat (nur JSON-Array, kein Markdown):\\n[{\"scene\":1,\"prompt\":\"Englischer kinderfreundlicher Bildprompt\"}]\\n\\nGeschichte:\\n${d.storyText}`;\nreturn { json: { ...d, sceneUserPrompt } };\n","mode":"runOnceForEachItem"},"id":"scene-prep","name":"Bildszenen vorbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,700]},{"parameters":{"promptType":"define","text":"={{ $json.sceneUserPrompt }}","messages":{"messageValues":[{"message":"Du bist ein Bildregisseur für Kinderbücher.\nErstelle sichere, kinderfreundliche englische Bildprompts für KI-Bildgenerierung.\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."}]},"batching":{}},"id":"agent-szenen","name":"🎨 Szenen-Extraktor","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2940,700]},{"parameters":{"options":{}},"id":"llm-szenen","name":"⚙️ Gemini (Szenen)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2940,880],"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const prev = $('Bildszenen vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\n\nlet scenes = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) scenes = JSON.parse(m[0]); } catch(e) {}\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  scenes = [{ scene: 1, prompt: `Children's book watercolor illustration, soft pastel colors, a friendly scene from the story '${prev.title}', child-safe` }];\n}\n\nreturn scenes.map(s => ({\n  json: {\n    ...prev,\n    sceneIndex: s.scene,\n    imagePrompt: s.prompt,\n    imageFilename: `${prev.slug}-${s.scene}.png`,\n    imageGithubPath: `bilder/${prev.slug}-${s.scene}.png`,\n    geminiRequestBody: {\n      contents: [{ role: 'user', parts: [{ text: s.prompt }] }],\n      generationConfig: { responseModalities: ['image', 'text'] }\n    }\n  }\n}));\n","mode":"runOnceForAllItems"},"id":"parse-scenes","name":"Szenen parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,700]},{"parameters":{"batchSize":1,"options":{}},"id":"image-loop","name":"Bild-Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3440,700]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image","mode":"list","cachedResultName":"models/gemini-2.5-flash-image (Nano Banana)"},"prompt":"={{ $json.imagePrompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"id":"generate-image","name":"Gemini: Bild generieren","position":[3660,580],"retryOnFail":true,"credentials":{"googlePalmApi":{"id":"6COxa9BJR4aj2W2w","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"id":"extract-image","name":"Bild-Daten extrahieren","position":[3880,580]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"RaLa84","mode":"name"},"repository":{"__rl":true,"value":"lesekumpel","mode":"list","cachedResultName":"lesekumpel","cachedResultUrl":"https://github.com/RaLa84/lesekumpel"},"filePath":"={{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageGithubPath }}","fileContent":"={{ $json.data }}","commitMessage":"=Bild: {{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageFilename }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"id":"upload-image","name":"GitHub: Bild hochladen","position":[4100,580],"credentials":{"githubOAuth2Api":{"id":"WBP07xjckQiul5s7","name":"GitHub account"}}},{"parameters":{"method":"GET","url":"https://raw.githubusercontent.com/RaLa84/lesekumpel/main/n8n-config/demo-template.html","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"id":"fetch-template","name":"GitHub: Template laden","position":[3660,860]},{"parameters":{"jsCode":"const data = $('Quiz parsen').first().json;\nlet template = $input.item.json.data;\n\n// Generate image tags for all images (1 to imageCount)\nconst imageCount = data.imageCount || 1;\nlet imagesHtml = '';\nfor (let i = 1; i <= imageCount; i++) {\n  const imgUrl = `https://rala84.github.io/lesekumpel/bilder/${data.slug}-${i}.png`;\n  imagesHtml += `<img src=\"${imgUrl}\" alt=\"${data.title}\" class=\"hero-image\" onerror=\"this.style.display='none'\">\n        `;\n}\n\ntemplate = template\n  .replace(/\\{\\{STORY_TITLE\\}\\}/g, data.title)\n  .replace(/\\{\\{STORY_DATE\\}\\}/g, data.date)\n  .replace(/\\{\\{PERSONA_NAME\\}\\}/g, data.personaName)\n  .replace(/\\{\\{PERSONA_IMG_URL\\}\\}/g, data.personaImg)\n  .replace(/\\{\\{PERSONA_BIO\\}\\}/g, data.personaBio)\n  .replace(/\\{\\{STUFE\\}\\}/g, String(data.stufe))\n  .replace(/\\{\\{STUFE_LABEL\\}\\}/g, data.stufeLabel || '')\n  .replace(/\\{\\{NEUROTYPE\\}\\}/g, data.neurotype)\n  .replace(/\\{\\{GENRE\\}\\}/g, data.genre)\n  .replace(/\\{\\{STORY_IMAGES_HTML\\}\\}/g, imagesHtml.trim())\n  .replace(/\\{\\{HERO_IMAGE_URL\\}\\}/g, `https://rala84.github.io/lesekumpel/bilder/${data.slug}-1.png`)\n  .replace(/\\{\\{RAW_STORY_TEXT\\}\\}/g, JSON.stringify(data.storyText || ''))\n  .replace(/\\{\\{RAW_SUMMARY_TEXT\\}\\}/g, JSON.stringify(data.summaryText || ''))\n  .replace(/\\{\\{QUIZ_DATA_JSON\\}\\}/g, JSON.stringify(data.quizData || []))\n  .replace(/\\{\\{DICTIONARY_JSON\\}\\}/g, JSON.stringify(data.wortschatz || []))\n  .replace(/\\{\\{WORD_COUNT\\}\\}/g, String(data.wordCount || 0))\n  .replace(/\\{\\{SLUG\\}\\}/g, data.slug)\n  .replace(/\\{\\{RELATED_STORIES_HTML\\}\\}/g, '');\n\nconst htmlBase64 = Buffer.from(template, 'utf8').toString('base64');\nconst storyUrl = `https://rala84.github.io/lesekumpel/demo-texte/${data.slug}.html`;\n\nreturn { json: { ...data, htmlBase64, filePath: `demo-texte/${data.slug}.html`, commitMessage: `Demo-Text: ${data.title} — ${data.personaName} Stufe ${data.stufe}`, storyUrl } };\n","mode":"runOnceForEachItem"},"id":"assemble-html","name":"HTML assemblieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[3880,860]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"RaLa84","mode":"name"},"repository":{"__rl":true,"value":"lesekumpel","mode":"list","cachedResultName":"lesekumpel","cachedResultUrl":"https://github.com/RaLa84/lesekumpel"},"filePath":"={{ $json.filePath }}","fileContent":"={{ $json.htmlBase64 }}","commitMessage":"={{ $json.commitMessage }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"id":"commit-html","name":"GitHub: HTML committen","position":[4100,860],"credentials":{"githubOAuth2Api":{"id":"WBP07xjckQiul5s7","name":"GitHub account"}}},{"parameters":{"jsCode":"const data = $('HTML assemblieren').first().json;\nreturn { json: { status: 'success', storyTitle: data.title, personaName: data.personaName, stufe: data.stufe, wordCount: data.wordCount, imageCount: data.imageCount, storyUrl: data.storyUrl } };\n","mode":"runOnceForEachItem"},"id":"build-result","name":"Ergebnis aufbauen","type":"n8n-nodes-base.code","typeVersion":2,"position":[4320,860]},{"parameters":{"operation":"completion","respondWith":"text","completionTitle":"=Geschichte erstellt: {{ $json.storyTitle }}","completionMessage":"={{ $json.personaName }} hat deine Geschichte geschrieben! Stufe {{ $json.stufe }}, {{ $json.wordCount }} Wörter.\n\nLink: {{ $json.storyUrl }}"},"type":"n8n-nodes-base.form","typeVersion":2.3,"id":"form-response","name":"Formular-Antwort","position":[4540,860]},{"parameters":{"maxItems":1},"type":"n8n-nodes-base.limit","typeVersion":1,"id":"limit-one","name":"Nur 1 Item","position":[3550,860]}],"connections":{"Formular: Geschichte anfordern":{"main":[[{"node":"Daten vorbereiten","type":"main","index":0}]]},"Daten vorbereiten":{"main":[[{"node":"Guardrail: Kind-Safe + Matrix","type":"main","index":0}]]},"Guardrail: Kind-Safe + Matrix":{"main":[[{"node":"Switch: Welche Persona?","type":"main","index":0}]]},"Switch: Welche Persona?":{"main":[[{"node":"📖 Lea Lesestark (Standard/NT)","type":"main","index":0}],[{"node":"🎵 Timo Taktschritt (LRS/Legasthenie)","type":"main","index":0}],[{"node":"⚡ Zara Zapp (ADHS)","type":"main","index":0}],[{"node":"🔍 Leo Klartext (Autismus-Spektrum)","type":"main","index":0}],[{"node":"🌍 Mia Brücke (DaZ)","type":"main","index":0}]]},"⚙️ Gemini (Lea)":{"ai_languageModel":[[{"node":"📖 Lea Lesestark (Standard/NT)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Timo)":{"ai_languageModel":[[{"node":"🎵 Timo Taktschritt (LRS/Legasthenie)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Zara)":{"ai_languageModel":[[{"node":"⚡ Zara Zapp (ADHS)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Leo)":{"ai_languageModel":[[{"node":"🔍 Leo Klartext (Autismus-Spektrum)","type":"ai_languageModel","index":0}]]},"⚙️ Gemini (Mia)":{"ai_languageModel":[[{"node":"🌍 Mia Brücke (DaZ)","type":"ai_languageModel","index":0}]]},"📖 Lea Lesestark (Standard/NT)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"🎵 Timo Taktschritt (LRS/Legasthenie)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"⚡ Zara Zapp (ADHS)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"🔍 Leo Klartext (Autismus-Spektrum)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"🌍 Mia Brücke (DaZ)":{"main":[[{"node":"Geschichte parsen","type":"main","index":0}]]},"Geschichte parsen":{"main":[[{"node":"📚 Linguistik-Anreicherung","type":"main","index":0}]]},"⚙️ Gemini (Linguistik)":{"ai_languageModel":[[{"node":"📚 Linguistik-Anreicherung","type":"ai_languageModel","index":0}]]},"📚 Linguistik-Anreicherung":{"main":[[{"node":"Linguistik parsen","type":"main","index":0}]]},"Linguistik parsen":{"main":[[{"node":"🧠 Quizmaster","type":"main","index":0}]]},"⚙️ Gemini (Quiz)":{"ai_languageModel":[[{"node":"🧠 Quizmaster","type":"ai_languageModel","index":0}]]},"🧠 Quizmaster":{"main":[[{"node":"Quiz parsen","type":"main","index":0}]]},"Quiz parsen":{"main":[[{"node":"Bildszenen vorbereiten","type":"main","index":0}]]},"Bildszenen vorbereiten":{"main":[[{"node":"🎨 Szenen-Extraktor","type":"main","index":0}]]},"⚙️ Gemini (Szenen)":{"ai_languageModel":[[{"node":"🎨 Szenen-Extraktor","type":"ai_languageModel","index":0}]]},"🎨 Szenen-Extraktor":{"main":[[{"node":"Szenen parsen","type":"main","index":0}]]},"Szenen parsen":{"main":[[{"node":"Bild-Loop","type":"main","index":0}]]},"Bild-Loop":{"main":[[{"node":"Nur 1 Item","type":"main","index":0}],[{"node":"Gemini: Bild generieren","type":"main","index":0}]]},"Gemini: Bild generieren":{"main":[[{"node":"Bild-Daten extrahieren","type":"main","index":0}]]},"Bild-Daten extrahieren":{"main":[[{"node":"GitHub: Bild hochladen","type":"main","index":0}]]},"GitHub: Bild hochladen":{"main":[[{"node":"Bild-Loop","type":"main","index":0}]]},"GitHub: Template laden":{"main":[[{"node":"HTML assemblieren","type":"main","index":0}]]},"HTML assemblieren":{"main":[[{"node":"GitHub: HTML committen","type":"main","index":0}]]},"GitHub: HTML committen":{"main":[[{"node":"Ergebnis aufbauen","type":"main","index":0}]]},"Ergebnis aufbauen":{"main":[[{"node":"Formular-Antwort","type":"main","index":0}]]},"Nur 1 Item":{"main":[[{"node":"GitHub: Template laden","type":"main","index":0}]]}},"authors":"Raik Lasner","name":null,"description":null}}