n8n-config/workflows/lesekumpel-story-generator.json
{
  "updatedAt": "2026-03-20T12:41:06.620Z",
  "createdAt": "2026-03-19T13:18:27.527Z",
  "id": "eHfC95UaMbJMcLTb",
  "name": "Lesekumpel – Neuroinclusive Story Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "lesekumpel-story",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "id": "webhook-trigger",
      "name": "Webhook: Geschichte anfordern",
      "position": [
        240,
        500
      ],
      "webhookId": "a1b2c3d4-lesekumpel-story"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst title = (input['Titel'] || '').trim();\nconst genre = (input['Genre'] || 'Abenteuer').trim();\nconst stufeRaw = (input['Stufe'] || '3.4').trim();\nconst stufe = stufeRaw.split(' ')[0]; // \"3.4 — Konjunktionen\" → \"3.4\"\nconst phaseRaw = (input['Phase'] || '').trim();\nconst phase = parseInt(phaseRaw.split(' ')[1]) || 3;\nconst personaRaw = (input['Persona'] || 'Lea Lesestark').trim();\nconst persona = personaRaw.split(' ')[0].toLowerCase(); // \"Lea Lesestark (NT)\" → \"lea\"\nconst bildstilRaw = (input['Bildstil'] || 'Aquarell').trim();\nconst bildstilKey = bildstilRaw.split(' ')[0]; // \"Aquarell — Weiche...\" → \"Aquarell\"\nconst description = (input['Kurzbeschreibung'] || '').trim();\n\n// Slug\nconst umlautMap = { 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss', 'Ä': 'ae', 'Ö': 'oe', 'Ü': 'ue' };\nconst slug = title.toLowerCase()\n  .replace(/[äöüßÄÖÜ]/g, c => umlautMap[c] || c)\n  .replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/-+/g, '-')\n  .substring(0, 60) || 'neue-geschichte';\n\nconst stufeData = {\n  '1.0': { phase: 1, label: 'Phase 1 — Der Start', fokus: 'Top-100-Wörter — Häufige Wörter als Ganzbild erkennen (Mama, ist, da, der, die, und, hat, Ball, rot, Hund)',\n           regeln: 'WORTSCHATZ: Top-100-Grundwörter + Themen-Wörter die zum Titel gehören (z.B. Domino, Minecraft). Titel-Wörter sind immer erlaubt.\\nTEMPUS: Nur Präsens.\\nSYNTAX: Hauptsätze, max. 7 Wörter pro Satz, natürliche Wortstellung.\\nMETRIKEN: 20-40 Wörter gesamt, 4-6 Sätze, Ø 4-6 Wörter/Satz.\\nNATÜRLICHKEIT: Jeder Satz muss klingen wie gesprochenes Deutsch. Würde eine Erzieherin das so sagen? Wenn nein → umformulieren.\\nBEISPIELE GUT: \\\"Lilith und ihr Bruder spielen.\\\" \\\"Sie haben viel Spaß.\\\"\\nBEISPIELE SCHLECHT: \\\"Viel Spaß ist da.\\\" \\\"Es ist Domino.\\\" (unnatürlich)',\n           imageCount: 1 },\n  '2.1': { phase: 2, label: 'Phase 2.1 — Sonderlaute', fokus: 'Mehrgrapheme/Sonderlaute (sch, ch, eu, ei, ie, au) — z.B. Schwein, Ei, dich, Schule, Feuer, Baum',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Hauptsätze.\\nFOKUS: Streue gezielt Wörter mit Sonderlauten ein (sch, ch, eu, ei, ie, au).\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.\\nBEISPIEL: \\\"Das Schwein hat ein Ei. Ich sehe dich.\\\"',\n           imageCount: 1 },\n  '2.2': { phase: 2, label: 'Phase 2.2 — Stolpersteine', fokus: 'Konsonantenhäufung (bl, gr, kn, pf, str, schr, spr) — z.B. Pflanze, grün, Strumpf, blau, Knopf',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Hauptsätze.\\nFOKUS: Wörter mit harten Konsonanten-Clustern (str, pfl, schr, spr, kn) nutzen.\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.\\nBEISPIEL: \\\"Die Pflanze ist grün. Der Strumpf ist blau.\\\"',\n           imageCount: 1 },\n  '2.3': { phase: 2, label: 'Phase 2.3 — Endungen', fokus: 'Endungen (-en, -er, -el) — z.B. Vater, Vogel, laufen, Kinder, Zimmer',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Sätze dürfen leicht länger werden (6-8 Wörter).\\nFOKUS: Zweisilbige Wörter mit typischen Endungen (-en, -er, -el) nutzen.\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.',\n           imageCount: 1 },\n  '2.4': { phase: 2, label: 'Phase 2.4 — Komposita', fokus: 'Zusammengesetzte Nomen (Nomen+Nomen) — z.B. Baumhaus, Haustür, Schulranzen, Regenschirm',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Hauptsätze.\\nFOKUS: Zusammengesetzte Nomen verwenden (max. 2 Teile). Wörter in Sinn-Einheiten zerlegen (Lego-Prinzip).\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.',\n           imageCount: 2 },\n  '3.1': { phase: 3, label: 'Phase 3.1 — Präteritum', fokus: 'Präteritum (Erzählzeit) — Veränderte Wortformen erkennen: sehen→sah, laufen→lief, kommen→kam',\n           regeln: 'TEMPUS: Durchgehend Präteritum (Vergangenheit).\\nSYNTAX: Einfache Sätze.\\nFOKUS: Starke/unregelmäßige Verben nutzen (lief, kam, sah, ging, fand).\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.\\nBEISPIEL: \\\"Der Hund lief weg. Er sah den Mond.\\\"',\n           imageCount: 2 },\n  '3.2': { phase: 3, label: 'Phase 3.2 — Vorsilben', fokus: 'Vorsilben (ver-, ent-, be-, ge-) — Bedeutungswandel: verlaufen, entdecken, beginnen, gewinnen',\n           regeln: 'TEMPUS: Präteritum.\\nSYNTAX: Einfache Sätze.\\nFOKUS: Verben mit Vorsilben einbauen (ver-, ent-, be-, ge-). Zeige wie Vorsilben den Sinn ändern.\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.',\n           imageCount: 2 },\n  '3.3': { phase: 3, label: 'Phase 3.3 — Suffixe', fokus: 'Suffixe/Nachsilben (-ung, -heit, -keit, -nis) — Abstrakte Nomen: Wohnung, Freiheit, Dunkelheit, Erkenntnis',\n           regeln: 'TEMPUS: Präteritum.\\nSYNTAX: Sätze mit Objekten.\\nFOKUS: Abstrakte Nomen auf -ung/-heit/-keit/-nis einbauen (Nomen die man nicht anfassen kann).\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.',\n           imageCount: 2 },\n  '3.4': { phase: 3, label: 'Phase 3.4 — Konjunktionen', fokus: 'Konjunktionen (weil, dass, aber, denn) — Kausale Zusammenhänge: Er weinte, weil er hinfiel.',\n           regeln: 'TEMPUS: Präteritum.\\nSYNTAX: Nebensätze erlaubt! Kausale Zusammenhänge bilden.\\nFOKUS: Konjunktionen (weil, dass, aber, denn, obwohl, damit) gezielt nutzen.\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.',\n           imageCount: 2 },\n  '4.1': { phase: 4, label: 'Phase 4.1 — Satzklammer', fokus: 'Satzklammer mit trennbaren Verben — Das Satzende vorausahnen: aufmachen, mitnehmen, einkaufen',\n           regeln: 'SYNTAX: Nutze trennbare Verben (aufmachen, mitnehmen, einkaufen). Verb-Teil 2 muss ans Satzende (Satzklammer).\\nFOKUS: Modalverben + trennbare Verben.\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.\\nBEISPIEL: \\\"Mama kauft heute im Laden ein.\\\"',\n           imageCount: 3 },\n  '4.2': { phase: 4, label: 'Phase 4.2 — Dialoge', fokus: 'Dialoge & Redebegleiter — Intonation: \\\"Komm her!\\\", rief der Vater laut.',\n           regeln: 'SYNTAX: Viel wörtliche Rede mit Anführungszeichen nutzen.\\nFOKUS: Verben des Sagens variieren (rief, fragte, flüsterte, schrie). Verschiedene Sprecher einbauen.\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.',\n           imageCount: 3 },\n  '4.3': { phase: 4, label: 'Phase 4.3 — Relativsätze', fokus: 'Relativsätze (der, die, das, welcher) — Einschübe verarbeiten: Der Hund, der bellt, gehört mir.',\n           regeln: 'SYNTAX: Nutze Relativsätze (Schachtelsätze). Dinge genauer beschreiben mit Einschüben.\\nFOKUS: Relativpronomen (der, die, das, welcher) einsetzen.\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.',\n           imageCount: 3 },\n  '4.4': { phase: 4, label: 'Phase 4.4 — Vergleiche', fokus: 'Adjektive & Vergleiche — Komparativ und Superlativ: schneller als, am schönsten, größer als ein Haus',\n           regeln: 'SYNTAX: Beschreibende Sätze mit Steigerungen.\\nFOKUS: Komparativ (besser, schneller) und Superlativ (am besten, am schnellsten) nutzen. Vergleiche mit \\\"wie\\\" und \\\"als\\\".\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.\\nBEISPIEL: \\\"Er war schneller als der Wind.\\\"',\n           imageCount: 3 },\n  '5.1': { phase: 5, label: 'Phase 5.1 — Synonyme', fokus: 'Synonyme & Wortfeld — Abwechslung: schleichen/huschen statt gehen, flüstern/murmeln statt sagen',\n           regeln: 'SYNTAX: Komplexe Sätze erlaubt.\\nFOKUS: Abwechslungsreichen Wortschatz nutzen. Synonyme verwenden statt Wortwiederholungen (gehen→schleichen/huschen, sagen→flüstern/rufen).\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 },\n  '5.2': { phase: 5, label: 'Phase 5.2 — Redewendungen', fokus: 'Redewendungen & Metaphern — Zwischen den Zeilen lesen: Schmetterlinge im Bauch, auf Wolke sieben',\n           regeln: 'SYNTAX: Komplexe Sätze.\\nFOKUS: Redewendungen und Sprichwörter einbauen. Bedeutung im Kontext erklären oder erschließbar machen. Idiome gezielt nutzen.\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 },\n  '5.3': { phase: 5, label: 'Phase 5.3 — Abstrakta', fokus: 'Abstrakta & Gefühle — Innenperspektive: Mut, Neid, Freiheit, Sehnsucht, Gerechtigkeit',\n           regeln: 'SYNTAX: Komplexe Sätze, Innenperspektive.\\nFOKUS: Abstrakte Begriffe (Mut, Neid, Freiheit, Sehnsucht) verwenden. Gefühle und Gedanken der Figuren beschreiben. Tiefe Charakterentwicklung.\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 },\n  '5.4': { phase: 5, label: 'Phase 5.4 — Sachtext', fokus: 'Passiv & Sachtext — Fakten und Erklärungen: wird gebaut, man verwendet, es wurde entdeckt',\n           regeln: 'SYNTAX: Sachtext-Stil. Passiv erlaubt (wird gebaut, wurde entdeckt).\\nFOKUS: Fakten, Erklärungen, logischer Aufbau. Keine Erzählung sondern Wissenstext. Unpersönliches \\\"man\\\" nutzen.\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 }\n};\n\nconst bildstilMap = {\n  'Aquarell': \"children's book watercolor illustration, soft pastel colors, warm and friendly, white background, no text in image\",\n  'Cartoon': \"colorful cartoon illustration for children, bold outlines, bright vivid colors, fun and playful, digital art, no text in image\",\n  'Buntstift': \"colored pencil drawing, hand-drawn children's illustration, crayon texture, sketch-like, warm paper background, no text in image\",\n  'Pixel-Art': \"pixel art illustration for kids, retro gaming style, colorful blocky pixels, 16-bit aesthetic, cheerful, no text in image\"\n};\n\nconst personaMeta = {\n  lea:  { name: 'Lea Lesestark',    neurotype: 'Neurotypisch',             imgUrl: 'https://rala84.github.io/lesekumpel/avatars/lea-lesestark.webp',   bio: 'Lea liebt Geschichten so sehr, dass sie am liebsten selbst in jedes Abenteuer hineinspringen würde! Sie erzählt so, als säßet ihr zusammen am Lagerfeuer — gemütlich, spannend und immer mit einem kleinen Schmunzler zwischendurch.' },\n  timo: { name: 'Timo Taktschritt', neurotype: 'LRS/Legasthenie',          imgUrl: 'https://rala84.github.io/lesekumpel/avatars/timo-taktschritt.webp', bio: 'Timo liebt Musik und Geschichten — am liebsten beides zusammen! Seine Sätze haben einen Rhythmus, den du fast mitklatschen kannst. Lesen fühlt sich bei ihm an wie dein Lieblingslied hören.' },\n  zara: { name: 'Zara Zapp',        neurotype: 'ADHS',                     imgUrl: 'https://rala84.github.io/lesekumpel/avatars/zara-zapp.webp',        bio: 'Zara kann einfach nicht stillsitzen — und ihre Geschichten auch nicht! Bei ihr geht es sofort los: Action, Überraschungen und immer eine Wendung, mit der du nicht gerechnet hast.' },\n  leo:  { name: 'Leo Klartext',     neurotype: 'Autismus-Spektrum',        imgUrl: 'https://rala84.github.io/lesekumpel/avatars/leo-klartext.webp',     bio: 'Leo sagt immer genau das, was er meint. Er mag es, wenn alles klar und verständlich ist. In seinen Geschichten weißt du immer, was passiert und warum — ganz ohne Rätsel.' },\n  mia:  { name: 'Mia Brücke',       neurotype: 'Deutsch als Zweitsprache', imgUrl: 'https://rala84.github.io/lesekumpel/avatars/mia-bruecke.webp',      bio: 'Mia nimmt dich an die Hand und zeigt dir die Welt, als wäre alles ganz neu und aufregend. Wenn ein Wort mal schwierig ist, erklärt sie es dir — wie eine gute Freundin.' }\n};\n\nconst p = personaMeta[persona] || personaMeta.lea;\nconst s = stufeData[stufe] || stufeData['3.4'];\nconst imageStyle = bildstilMap[bildstilKey] || bildstilMap['Aquarell'];\n\nconst userPrompt = `Schreib die Geschichte \"${title}\" auf Stufe ${stufe} (${s.label}).\nGenre: ${genre}\nKurzbeschreibung: ${description || 'Keine Beschreibung angegeben'}\n\nSTUFEN-REGELN:\n${s.regeln}\n\nFOKUS dieser Stufe: ${s.fokus}\nBaue gezielt Wörter mit diesem Fokus in die Geschichte ein.\n\nNATÜRLICHKEIT (PFLICHT):\nJeder Satz muss so klingen, wie ein Kind oder eine Erzieherin tatsächlich sprechen würde.\nNatürlichkeit geht vor Kürze — ein Satz darf 1-2 Wörter länger sein, wenn er dadurch natürlicher klingt.\nPrüfe jeden Satz: Würde jemand das im Alltag so sagen? Wenn nein → umformulieren.\n\nKINDGERECHT (PFLICHT):\nVermeide abstrakte Pronomen und Verweise (dies, das, es) wenn unklar ist worauf sie sich beziehen.\nKinder brauchen konkrete Bezüge. Nenne das Ding beim Namen.\nSCHLECHT: Er versteht, dass dies viel besser ist.\nGUT: Er mag das kleine Auto sehr.\n\nSILBENTRENNUNG (PFLICHT):\nTrenne jede Silbe mit Bindestrich nach DUDEN: Son-ne, Was-ser, Früh-stück, lau-fen\nEinsilbige Wörter bleiben ungeteilt: der, die, das, hat, kam\n\nFAKTENTREUE (PFLICHT):\nWenn die Geschichte reale Marken, Spiele, Produkte oder Figuren erwähnt:\n- Verwende NUR echte, korrekte Namen (Charaktere, Gegner, Orte, Items)\n- Erfinde KEINE Fantasie-Namen für reale Spielinhalte\n- Wenn du dir unsicher bist, verwende eine allgemeine Beschreibung statt eines erfundenen Namens\n\nSATZQUALITÄT (PFLICHT):\n- Jeder Satz muss vollständig und für sich allein verständlich sein\n- Nach einem Abschnitts-Header (**Überschrift**) muss der erste Satz den Kontext neu aufbauen\n- Der erste Satz nach einem Header darf NICHT mit einem kontextlosen Dialog oder Fragment beginnen\n- Kein Satz darf ein reines Dialog-Fragment ohne Handlungskontext sein\n\nZEICHENSETZUNG (PFLICHT):\n- Einfache Satzzeichen bevorzugen: Punkt, Komma, Ausrufezeichen, Fragezeichen\n- Keine Anführungszeichen für wörtliche Rede verwenden\n- FALSCH: \"Los!\", rief Ben.  RICHTIG: Los!, rief Ben.\n- Doppelpunkte vor wörtlicher Rede vermeiden\n- Pro Satz maximal ein Satzzeichen am Ende\n- Wörtliche Rede so einfach wie möglich halten\n\nAUFBAU (diese Labels verwenden):\nGESCHICHTE: [vollständiger Text]\nZUSAMMENFASSUNG: [2-3 Sätze]`;\n\nreturn { json: {\n  title, genre, stufe, stufeLabel: s.label, stufeFokus: s.fokus, phase,\n  persona, description, slug, date: new Date().toISOString().split('T')[0],\n  personaName: p.name, neurotype: p.neurotype,\n  personaImg: p.imgUrl, personaBio: p.bio,\n  imageCount: s.imageCount, stufeRegeln: s.regeln,\n  bildstilKey, imageStyle, userPrompt\n}};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "prepare-data",
      "name": "Daten vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst { title, description, persona, stufe } = d;\n\nconst BLOCKED = ['gewalt', 'waffe', 'sex', 'drogen', 'sterben', 'töten', 'mord'];\nconst hit = BLOCKED.find(w => (title + ' ' + description).toLowerCase().includes(w));\nif (hit) throw new Error(`Inhalt nicht kindgerecht: \"${hit}\" gefunden`);\n\nconst VALID = {\n  lea:  ['1.0','2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4','5.1','5.2','5.3','5.4'],\n  mia:  ['1.0','2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4'],\n  timo: ['2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4'],\n  zara: ['2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4'],\n  leo:  ['3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4','5.1','5.2','5.3','5.4']\n};\nconst allowed = VALID[persona] || [];\nif (!allowed.includes(stufe)) {\n  throw new Error(`${persona} ist auf Stufe ${stufe} nicht verfügbar. Gültig: ${JSON.stringify(VALID[persona] || [])}`);\n}\nreturn { json: d };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "guardrail",
      "name": "Guardrail: Kind-Safe + Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.persona }}",
                    "rightValue": "lea",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lea"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.persona }}",
                    "rightValue": "timo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.persona }}",
                    "rightValue": "zara",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zara"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.persona }}",
                    "rightValue": "leo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "leo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.persona }}",
                    "rightValue": "mia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mia"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-persona",
      "name": "Switch: Welche Persona?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist Lea Lesestark, eine warme und neugierige Kinderbuchautorin.\nStimme: ausgewogen, lebendig, klassische Kinderbucherzählerin.\n\nDEINE REGELN:\n- Ausgewogene Satzlänge — nicht zu kurz, nicht zu lang\n- Lebendige Handlung: klarer Anfang, Mitte, Ende\n- Gelegentliche Metaphern erlaubt\n- Leichtes Augenzwinkern und Humor willkommen\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-lea",
      "name": "📖 Lea Lesestark (Standard/NT)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1140,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-lea",
      "name": "⚙️ Gemini (Lea)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        280
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist Timo Taktschritt, ein rhythmischer Kinderbuchautor.\nStimme: gleichmäßig, musikalisch — jeder Satz klingt wie Musik.\n\nDEINE REGELN:\n- Bevorzuge 1–2-silbige Wörter wo möglich\n- KEIN Genitiv: schreib 'das Haus von der Katze' statt 'das Haus der Katze'\n- Keine Konjunktionshäufung (nicht mehrere 'weil, da, aber, obwohl' im gleichen Satz)\n- Absatz-Break alle 2–3 Sätze\n- Satzenden klingen klangvoll (Alliteration oder Reim optional)\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-timo",
      "name": "🎵 Timo Taktschritt (LRS/Legasthenie)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1140,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-timo",
      "name": "⚙️ Gemini (Timo)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        580
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist Zara Zapp, eine energetische Kinderbuchautorin.\nStimme: schnell, direkt, immer mittendrin.\n\nDEINE REGELN:\n- ERSTER SATZ = sofortige Action! Keine Einleitung, keine Beschreibung.\n- Max. 2 Sätze pro Absatz\n- Jeder Abschnitt endet mit Überraschung oder offener Frage\n- Aktive Verben: rannte, schrie, packte, sprang, entdeckte\n- Kein beschreibender Sumpf — keine langen Adjektiv-Ketten\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-zara",
      "name": "⚡ Zara Zapp (ADHS)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1140,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-zara",
      "name": "⚙️ Gemini (Zara)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist Leo Klartext, ein präziser, ehrlicher Kinderbuchautor.\nStimme: zuverlässig, direkt — du sagst genau was du meinst.\n\nDEINE REGELN:\n- KEINE Metaphern oder Redewendungen (nicht: 'Schmetterlinge im Bauch')\n- Gefühle IMMER direkt benennen: 'Er war wütend, weil...'\n- Figurenmotivationen vollständig erklären\n- Kein Sarkasmus, keine Ironie\n- Linearer Aufbau: chronologisch, keine Rückblenden\n- Doppeldeutigkeiten vermeiden\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-leo",
      "name": "🔍 Leo Klartext (Autismus-Spektrum)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1140,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-leo",
      "name": "⚙️ Gemini (Leo)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        1180
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist Mia Brücke, eine einladende, geduldige Kinderbuchautorin.\nStimme: bildhaft — erklärt die Welt als wäre alles neu und spannend.\n\nDEINE REGELN:\n- KEIN Passiv ('wurde gegessen' → schreib stattdessen 'der Hund aß')\n- KEINE Komposita — trenne zusammengesetzte Wörter auf ('Handtasche' → 'die Tasche für die Hand')\n- KEINE kulturellen Referenzen die man kennen muss\n- Schwierige Wörter sofort inline erklären: 'der Döner — das ist Fleisch in Brot'\n- Einfache, klare Satzstruktur\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-mia",
      "name": "🌍 Mia Brücke (DaZ)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1140,
        1300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-mia",
      "name": "⚙️ Gemini (Mia)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        1480
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Daten vorbereiten').first().json;\nconst responseText = $input.item.json.text || '';\n\nconst storyMatch = responseText.match(/GESCHICHTE:[\\s\\S]*?(?=ZUSAMMENFASSUNG:|$)/);\nconst summaryMatch = responseText.match(/ZUSAMMENFASSUNG:[\\s\\S]*/);\n\nconst storyText = storyMatch ? storyMatch[0].replace('GESCHICHTE:', '').trim() : responseText.trim();\nconst summaryText = summaryMatch ? summaryMatch[0].replace('ZUSAMMENFASSUNG:', '').trim() : storyText.split('\\n')[0];\nconst wordCount = storyText.split(/\\s+/).length;\n\nreturn { json: { ...input, storyText, summaryText, wordCount } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "parse-story",
      "name": "Geschichte parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        700
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Analysiere diesen Kindertext und gib JSON zurück:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON, kein Markdown):\\n{\"wortschatz\": [{\"wort\": \"Beispiel\", \"silben\": \"Bei-spiel\", \"bedeutung\": \"Kurze Erklärung\"}], \"tags\": [\"tag1\", \"tag2\"]}\\n\\nWortschatz: 3-6 schwierige Wörter. Tags: 3-5 Themen.' }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Linguistik-Assistent für Kinderliteratur.\nDeine Aufgabe: Analysiere Kindertexte und gib strukturiertes JSON zurück.\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen, keine Code-Blöcke."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-linguistik",
      "name": "📚 Linguistik-Anreicherung",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1680,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-linguistik",
      "name": "⚙️ Gemini (Linguistik)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Geschichte parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet wortschatz = [], tags = [];\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); wortschatz = p.wortschatz || []; tags = p.tags || []; }\n} catch(e) { tags = [prev.genre]; }\n\nreturn { json: { ...prev, wortschatz, tags } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "parse-linguistik",
      "name": "Linguistik parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        700
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Erstelle 3 Multiple-Choice-Fragen zu diesem Kindertext:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON-Array, kein Markdown):\\n[{\"q\":\"Frage?\",\"a\":[\"Option A\",\"Option B\",\"Option C\"],\"correct\":0}]\\n\\ncorrect = Index der richtigen Antwort (0, 1 oder 2). Fragen auf Deutsch, für 6-10 Jahre.' }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Quiz-Ersteller für Kinderliteratur (Zielgruppe: 6-10 Jahre).\nErstelle genau 3 Multiple-Choice-Fragen auf Deutsch.\nJede Frage hat genau 3 Antwortoptionen (eine richtig, zwei plausibel falsch).\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-quiz",
      "name": "🧠 Quizmaster",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2200,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-quiz",
      "name": "⚙️ Gemini (Quiz)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2200,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Linguistik parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet quizData = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) quizData = JSON.parse(m[0]); } catch(e) {}\n\nreturn { json: { ...prev, quizData } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "parse-quiz",
      "name": "Quiz parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst imageCount = d.imageCount || 1;\nconst style = d.imageStyle || \"children's book watercolor illustration, soft pastel colors, warm and friendly, white background, no text in image\";\nconst charRef = d.characterReference || '';\n\nconst sceneUserPrompt = `Extrahiere ${imageCount} Schlüsselszene(n) aus dieser Geschichte als englische Bildprompts.\n\nSTIL (immer gleich): ${style}\n\nCHARAKTER-REFERENZ (in JEDEM Prompt vollständig verwenden):\n${charRef}\n\nFormat (nur JSON-Array, kein Markdown):\n[{\"scene\":1,\"prompt\":\"Englischer kinderfreundlicher Bildprompt — MUSS die Charakterbeschreibungen aus der Referenz wörtlich enthalten\"}]\n\nWICHTIG: Jeder Prompt MUSS die vollständige Erscheinungsbeschreibung der Charaktere enthalten, damit alle Bilder konsistent aussehen.\n\nGeschichte:\n${d.storyText}`;\nreturn { json: { ...d, sceneUserPrompt } };",
        "mode": "runOnceForEachItem"
      },
      "id": "scene-prep",
      "name": "Bildszenen vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        700
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sceneUserPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Bildregisseur für Kinderbücher.\nErstelle sichere, kinderfreundliche englische Bildprompts für KI-Bildgenerierung.\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-szenen",
      "name": "🎨 Szenen-Extraktor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3660,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "llm-szenen",
      "name": "⚙️ Gemini (Szenen)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3660,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Bildszenen vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\nconst charRef = prev.characterReference || '';\n\nlet scenes = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) scenes = JSON.parse(m[0]); } catch(e) {}\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  scenes = [{ scene: 1, prompt: \"Children's book watercolor illustration, soft pastel colors, a friendly scene from the story '\" + prev.title + \"', child-safe\" }];\n}\n\nreturn scenes.map(s => {\n  let finalPrompt = s.prompt;\n  if (charRef && !finalPrompt.includes(charRef.substring(0, 30))) {\n    finalPrompt = charRef + '. Scene: ' + finalPrompt;\n  }\n  return {\n    json: {\n      ...prev,\n      sceneIndex: s.scene,\n      imagePrompt: finalPrompt,\n      imageFilename: prev.slug + '-' + s.scene + '.png',\n      imageGithubPath: 'bilder/' + prev.slug + '-' + s.scene + '.png',\n      geminiRequestBody: {\n        contents: [{ role: 'user', parts: [{ text: finalPrompt }] }],\n        generationConfig: { responseModalities: ['image', 'text'] }\n      }\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "parse-scenes",
      "name": "Szenen parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        700
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "image-loop",
      "name": "Bild-Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4160,
        700
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "id": "generate-image",
      "name": "Gemini: Bild generieren",
      "position": [
        4380,
        580
      ],
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "id": "extract-image",
      "name": "Bild-Daten extrahieren",
      "position": [
        4600,
        580
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "RaLa84",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "lesekumpel",
          "mode": "list",
          "cachedResultName": "lesekumpel",
          "cachedResultUrl": "https://github.com/RaLa84/lesekumpel"
        },
        "filePath": "={{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageGithubPath }}",
        "fileContent": "={{ $json.data }}",
        "commitMessage": "=Bild: {{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageFilename }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "id": "upload-image",
      "name": "GitHub: Bild hochladen",
      "position": [
        4820,
        580
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "WBP07xjckQiul5s7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/RaLa84/lesekumpel/main/n8n-config/demo-template.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "fetch-template",
      "name": "GitHub: Template laden",
      "position": [
        4380,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Quiz parsen').first().json;\nlet template = $input.item.json.data;\n\n// Generate image tags for all images (1 to imageCount)\nconst imageCount = data.imageCount || 1;\nlet imagesHtml = '';\nfor (let i = 1; i <= imageCount; i++) {\n  const imgUrl = `https://rala84.github.io/lesekumpel/bilder/${data.slug}-${i}.png`;\n  imagesHtml += `<img src=\"${imgUrl}\" alt=\"${data.title}\" class=\"hero-image\" onerror=\"this.style.display='none'\">\n        `;\n}\n\ntemplate = template\n  .replace(/\\{\\{STORY_TITLE\\}\\}/g, data.title)\n  .replace(/\\{\\{STORY_DATE\\}\\}/g, data.date)\n  .replace(/\\{\\{PERSONA_NAME\\}\\}/g, data.personaName)\n  .replace(/\\{\\{PERSONA_IMG_URL\\}\\}/g, data.personaImg)\n  .replace(/\\{\\{PERSONA_BIO\\}\\}/g, data.personaBio)\n  .replace(/\\{\\{STUFE\\}\\}/g, String(data.stufe))\n  .replace(/\\{\\{STUFE_LABEL\\}\\}/g, data.stufeLabel || '')\n  .replace(/\\{\\{NEUROTYPE\\}\\}/g, data.neurotype)\n  .replace(/\\{\\{GENRE\\}\\}/g, data.genre)\n  .replace(/\\{\\{STORY_IMAGES_HTML\\}\\}/g, imagesHtml.trim())\n  .replace(/\\{\\{HERO_IMAGE_URL\\}\\}/g, `https://rala84.github.io/lesekumpel/bilder/${data.slug}-1.png`)\n  .replace(/\\{\\{RAW_STORY_TEXT\\}\\}/g, JSON.stringify(data.storyText || ''))\n  .replace(/\\{\\{RAW_SUMMARY_TEXT\\}\\}/g, JSON.stringify(data.summaryText || ''))\n  .replace(/\\{\\{QUIZ_DATA_JSON\\}\\}/g, JSON.stringify(data.quizData || []))\n  .replace(/\\{\\{DICTIONARY_JSON\\}\\}/g, JSON.stringify(data.wortschatz || []))\n  .replace(/\\{\\{WORD_COUNT\\}\\}/g, String(data.wordCount || 0))\n  .replace(/\\{\\{SLUG\\}\\}/g, data.slug)\n  .replace(/\\{\\{RELATED_STORIES_HTML\\}\\}/g, '');\n\nconst htmlBase64 = Buffer.from(template, 'utf8').toString('base64');\nconst storyUrl = `https://rala84.github.io/lesekumpel/demo-texte/${data.slug}.html`;\n\nreturn { json: { ...data, htmlBase64, filePath: `demo-texte/${data.slug}.html`, commitMessage: `Demo-Text: ${data.title} — ${data.personaName} Stufe ${data.stufe}`, storyUrl } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "assemble-html",
      "name": "HTML assemblieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4600,
        860
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "RaLa84",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "lesekumpel",
          "mode": "list",
          "cachedResultName": "lesekumpel",
          "cachedResultUrl": "https://github.com/RaLa84/lesekumpel"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ $json.htmlBase64 }}",
        "commitMessage": "={{ $json.commitMessage }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "id": "commit-html",
      "name": "GitHub: HTML committen",
      "position": [
        4820,
        860
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "WBP07xjckQiul5s7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('HTML assemblieren').first().json;\nreturn { json: { status: 'success', storyTitle: data.title, personaName: data.personaName, stufe: data.stufe, wordCount: data.wordCount, imageCount: data.imageCount, storyUrl: data.storyUrl } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "build-result",
      "name": "Ergebnis aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { status: \"success\", storyTitle: $input.item.json.storyTitle, storyUrl: $input.item.json.storyUrl, personaName: $input.item.json.personaName, stufe: $input.item.json.stufe, wordCount: $input.item.json.wordCount } };",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "form-response",
      "name": "Webhook-Antwort",
      "position": [
        5260,
        860
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "id": "limit-one",
      "name": "Nur 1 Item",
      "position": [
        4270,
        860
      ]
    },
    {
      "id": "elements-prep",
      "name": "Story-Elemente vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        700
      ],
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst elementsUserPrompt = `Analyze this German children's story and extract ALL visual elements needed to illustrate it consistently.\n\nOutput ONLY a JSON object (no markdown, no explanation):\n{\n  \"characters\": [\n    {\n      \"name\": \"Character name\",\n      \"role\": \"main/supporting\",\n      \"appearance\": \"Detailed English description: age, gender, hair color+style, skin tone, eye color, clothing with colors and details, distinguishing features, body type\"\n    }\n  ],\n  \"props\": [\n    {\n      \"name\": \"Item name\",\n      \"description\": \"Detailed English visual description with colors, size, shape, material\"\n    }\n  ],\n  \"setting\": \"Detailed English description of the main location, time of day, weather, key environmental details\"\n}\n\nBe VERY specific about visual details. If the story doesn't mention a detail (like hair color), invent one and keep it consistent.\nEvery character MUST have: hair color+style, clothing colors, at least one distinguishing feature.\n\nStory:\n${d.storyText}`;\nreturn { json: { ...d, elementsUserPrompt } };",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "agent-elements",
      "name": "🧩 Story-Elemente extrahieren",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2940,
        700
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.elementsUserPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein visueller Charakterdesigner für Kinderbücher.\nExtrahiere detaillierte, konsistente visuelle Beschreibungen aller Figuren, Gegenstände und Schauplätze.\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen."
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "llm-elements",
      "name": "⚙️ Gemini (Elemente)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2940,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "parse-elements",
      "name": "Elemente parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        700
      ],
      "parameters": {
        "jsCode": "const prev = $('Story-Elemente vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\n\nlet storyElements = { characters: [], props: [], setting: '' };\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) storyElements = JSON.parse(m[0]);\n} catch(e) {}\n\nlet charRef = '';\nif (storyElements.characters && storyElements.characters.length > 0) {\n  charRef = storyElements.characters\n    .map(c => c.name + ': ' + c.appearance)\n    .join('. ');\n}\nif (storyElements.props && storyElements.props.length > 0) {\n  charRef += '. Props: ' + storyElements.props\n    .map(p => p.name + ': ' + p.description)\n    .join('. ');\n}\nif (storyElements.setting) {\n  charRef += '. Setting: ' + storyElements.setting;\n}\n\nreturn { json: { ...prev, storyElements, characterReference: charRef } };",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Qualitätsprüfer für Kindertexte (Zielgruppe: 5-10 Jahre).\n\nPRÜFE den folgenden Text auf:\n\n1. NATÜRLICHKEIT\n   - Klingt jeder Satz wie gesprochenes Deutsch?\n   - Würde eine Erzieherin das so zu einem Kind sagen?\n   - Typische Fehler: \"Viel Spaß ist da\" statt \"Sie haben Spaß\"\n\n2. GRAMMATIK\n   - Adjektiv-Deklination korrekt? (\"eine dunkle Höhle\", nicht \"eine dunkel Höhle\")\n   - Konjugation und Kasus korrekt?\n\n3. SILBENTRENNUNG\n   - Silben nach Duden getrennt?\n   - Einsilbige Wörter ungeteilt?\n\n4. KONKRETHEIT\n   - Keine abstrakten Pronomen (dies, das, es) ohne klaren Bezug\n   - Kinder müssen verstehen worauf sich jedes Wort bezieht\n   - Wenn unklar: das Ding beim Namen nennen\n\n5. STUFEN-KONFORMITÄT\n   - Hält der Text die Regeln der Lesestufe ein?\n\nWenn du Probleme findest:\n- Schreibe den GESAMTEN Text neu mit allen Korrekturen\n- Behalte die Struktur (GESCHICHTE: / ZUSAMMENFASSUNG:) exakt bei\n- Ändere nur was nötig ist\n\nWenn alles OK: Gib den Text EXAKT unverändert zurück.\n\nWICHTIG: Gib NUR den Text zurück, keine Erklärungen oder Kommentare.\n\nLesestufe: {{ $json.stufeLabel }}\nStufen-Regeln:\n{{ $json.stufeRegeln }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1440,
        400
      ],
      "id": "qa-check",
      "name": "🔍 Qualitäts-Check"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        600
      ],
      "id": "llm-qa",
      "name": "⚙️ Gemini (QA)",
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Daten vorbereiten": {
      "main": [
        [
          {
            "node": "Guardrail: Kind-Safe + Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrail: Kind-Safe + Matrix": {
      "main": [
        [
          {
            "node": "Switch: Welche Persona?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Welche Persona?": {
      "main": [
        [
          {
            "node": "📖 Lea Lesestark (Standard/NT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎵 Timo Taktschritt (LRS/Legasthenie)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ Zara Zapp (ADHS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Leo Klartext (Autismus-Spektrum)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🌍 Mia Brücke (DaZ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Lea)": {
      "ai_languageModel": [
        [
          {
            "node": "📖 Lea Lesestark (Standard/NT)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Timo)": {
      "ai_languageModel": [
        [
          {
            "node": "🎵 Timo Taktschritt (LRS/Legasthenie)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Zara)": {
      "ai_languageModel": [
        [
          {
            "node": "⚡ Zara Zapp (ADHS)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Leo)": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Leo Klartext (Autismus-Spektrum)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Mia)": {
      "ai_languageModel": [
        [
          {
            "node": "🌍 Mia Brücke (DaZ)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📖 Lea Lesestark (Standard/NT)": {
      "main": [
        [
          {
            "node": "🔍 Qualitäts-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 Timo Taktschritt (LRS/Legasthenie)": {
      "main": [
        [
          {
            "node": "🔍 Qualitäts-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Zara Zapp (ADHS)": {
      "main": [
        [
          {
            "node": "🔍 Qualitäts-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Leo Klartext (Autismus-Spektrum)": {
      "main": [
        [
          {
            "node": "🔍 Qualitäts-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌍 Mia Brücke (DaZ)": {
      "main": [
        [
          {
            "node": "🔍 Qualitäts-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geschichte parsen": {
      "main": [
        [
          {
            "node": "📚 Linguistik-Anreicherung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Linguistik)": {
      "ai_languageModel": [
        [
          {
            "node": "📚 Linguistik-Anreicherung",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📚 Linguistik-Anreicherung": {
      "main": [
        [
          {
            "node": "Linguistik parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linguistik parsen": {
      "main": [
        [
          {
            "node": "🧠 Quizmaster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Quiz)": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Quizmaster",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Quizmaster": {
      "main": [
        [
          {
            "node": "Quiz parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quiz parsen": {
      "main": [
        [
          {
            "node": "Story-Elemente vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bildszenen vorbereiten": {
      "main": [
        [
          {
            "node": "🎨 Szenen-Extraktor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Szenen)": {
      "ai_languageModel": [
        [
          {
            "node": "🎨 Szenen-Extraktor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Szenen-Extraktor": {
      "main": [
        [
          {
            "node": "Szenen parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Szenen parsen": {
      "main": [
        [
          {
            "node": "Bild-Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Loop": {
      "main": [
        [
          {
            "node": "Nur 1 Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini: Bild generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Bild generieren": {
      "main": [
        [
          {
            "node": "Bild-Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Daten extrahieren": {
      "main": [
        [
          {
            "node": "GitHub: Bild hochladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Bild hochladen": {
      "main": [
        [
          {
            "node": "Bild-Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Template laden": {
      "main": [
        [
          {
            "node": "HTML assemblieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML assemblieren": {
      "main": [
        [
          {
            "node": "GitHub: HTML committen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: HTML committen": {
      "main": [
        [
          {
            "node": "Ergebnis aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis aufbauen": {
      "main": [
        [
          {
            "node": "Webhook-Antwort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur 1 Item": {
      "main": [
        [
          {
            "node": "GitHub: Template laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Geschichte anfordern": {
      "main": [
        [
          {
            "node": "Daten vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story-Elemente vorbereiten": {
      "main": [
        [
          {
            "node": "🧩 Story-Elemente extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Elemente)": {
      "ai_languageModel": [
        [
          {
            "node": "🧩 Story-Elemente extrahieren",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🧩 Story-Elemente extrahieren": {
      "main": [
        [
          {
            "node": "Elemente parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elemente parsen": {
      "main": [
        [
          {
            "node": "Bildszenen vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Qualitäts-Check": {
      "main": [
        [
          {
            "node": "Geschichte parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (QA)": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Qualitäts-Check",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Formular: Geschichte anfordern": [
      {
        "json": {
          "Titel": "Der Elefant im Pool",
          "Genre": "Humor",
          "Lesestufe": "3",
          "Persona": "lea",
          "Kurzbeschreibung": "Der Elefant Dumbo will in den Pool springen in dem die Capibara Familie badet",
          "submittedAt": "2026-03-19T15:06:16.162+01:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "35edf788-e563-48a8-88ac-0a1c78bf8add",
  "activeVersionId": "35edf788-e563-48a8-88ac-0a1c78bf8add",
  "versionCounter": 205,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-19T13:18:27.529Z",
      "createdAt": "2026-03-19T13:18:27.529Z",
      "role": "workflow:owner",
      "workflowId": "eHfC95UaMbJMcLTb",
      "projectId": "7DKNq7xhMrsfvZui",
      "project": {
        "updatedAt": "2025-12-09T14:04:24.508Z",
        "createdAt": "2025-12-09T14:04:19.022Z",
        "id": "7DKNq7xhMrsfvZui",
        "name": "Raik Lasner <raik.lasner@googlemail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-09T14:04:19.022Z",
            "createdAt": "2025-12-09T14:04:19.022Z",
            "userId": "308fb5dc-7474-4112-a328-f5a434552a00",
            "projectId": "7DKNq7xhMrsfvZui",
            "user": {
              "updatedAt": "2026-03-20T07:46:07.000Z",
              "createdAt": "2025-12-09T14:04:17.380Z",
              "id": "308fb5dc-7474-4112-a328-f5a434552a00",
              "email": "raik.lasner@googlemail.com",
              "firstName": "Raik",
              "lastName": "Lasner",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "userClaimedAiCredits": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "754WU5QkgUk9acBk",
                "userActivatedAt": 1765294032281,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765785201621
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T12:41:06.621Z",
    "createdAt": "2026-03-20T12:41:06.621Z",
    "versionId": "35edf788-e563-48a8-88ac-0a1c78bf8add",
    "workflowId": "eHfC95UaMbJMcLTb",
    "nodes": [
      {
        "parameters": {
          "path": "lesekumpel-story",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "id": "webhook-trigger",
        "name": "Webhook: Geschichte anfordern",
        "position": [
          240,
          500
        ],
        "webhookId": "a1b2c3d4-lesekumpel-story"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.item.json;\n\nconst title = (input['Titel'] || '').trim();\nconst genre = (input['Genre'] || 'Abenteuer').trim();\nconst stufeRaw = (input['Stufe'] || '3.4').trim();\nconst stufe = stufeRaw.split(' ')[0]; // \"3.4 — Konjunktionen\" → \"3.4\"\nconst phaseRaw = (input['Phase'] || '').trim();\nconst phase = parseInt(phaseRaw.split(' ')[1]) || 3;\nconst personaRaw = (input['Persona'] || 'Lea Lesestark').trim();\nconst persona = personaRaw.split(' ')[0].toLowerCase(); // \"Lea Lesestark (NT)\" → \"lea\"\nconst bildstilRaw = (input['Bildstil'] || 'Aquarell').trim();\nconst bildstilKey = bildstilRaw.split(' ')[0]; // \"Aquarell — Weiche...\" → \"Aquarell\"\nconst description = (input['Kurzbeschreibung'] || '').trim();\n\n// Slug\nconst umlautMap = { 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss', 'Ä': 'ae', 'Ö': 'oe', 'Ü': 'ue' };\nconst slug = title.toLowerCase()\n  .replace(/[äöüßÄÖÜ]/g, c => umlautMap[c] || c)\n  .replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/-+/g, '-')\n  .substring(0, 60) || 'neue-geschichte';\n\nconst stufeData = {\n  '1.0': { phase: 1, label: 'Phase 1 — Der Start', fokus: 'Top-100-Wörter — Häufige Wörter als Ganzbild erkennen (Mama, ist, da, der, die, und, hat, Ball, rot, Hund)',\n           regeln: 'WORTSCHATZ: Nur Top-100-Grundwörter verwenden. Keine Wörter außerhalb dieser Liste.\\nTEMPUS: Nur Präsens.\\nSYNTAX: Nur Hauptsätze (Subjekt-Prädikat-Objekt). Max. 5 Wörter pro Satz.\\nMETRIKEN: 20-30 Wörter gesamt, 4-6 Sätze, Ø 3-5 Wörter/Satz.\\nBEISPIELE: \\\"Mama ist da.\\\" \\\"Der Ball ist rot.\\\"',\n           imageCount: 1 },\n  '2.1': { phase: 2, label: 'Phase 2.1 — Sonderlaute', fokus: 'Mehrgrapheme/Sonderlaute (sch, ch, eu, ei, ie, au) — z.B. Schwein, Ei, dich, Schule, Feuer, Baum',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Hauptsätze.\\nFOKUS: Streue gezielt Wörter mit Sonderlauten ein (sch, ch, eu, ei, ie, au).\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.\\nBEISPIEL: \\\"Das Schwein hat ein Ei. Ich sehe dich.\\\"',\n           imageCount: 1 },\n  '2.2': { phase: 2, label: 'Phase 2.2 — Stolpersteine', fokus: 'Konsonantenhäufung (bl, gr, kn, pf, str, schr, spr) — z.B. Pflanze, grün, Strumpf, blau, Knopf',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Hauptsätze.\\nFOKUS: Wörter mit harten Konsonanten-Clustern (str, pfl, schr, spr, kn) nutzen.\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.\\nBEISPIEL: \\\"Die Pflanze ist grün. Der Strumpf ist blau.\\\"',\n           imageCount: 1 },\n  '2.3': { phase: 2, label: 'Phase 2.3 — Endungen', fokus: 'Endungen (-en, -er, -el) — z.B. Vater, Vogel, laufen, Kinder, Zimmer',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Sätze dürfen leicht länger werden (6-8 Wörter).\\nFOKUS: Zweisilbige Wörter mit typischen Endungen (-en, -er, -el) nutzen.\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.',\n           imageCount: 1 },\n  '2.4': { phase: 2, label: 'Phase 2.4 — Komposita', fokus: 'Zusammengesetzte Nomen (Nomen+Nomen) — z.B. Baumhaus, Haustür, Schulranzen, Regenschirm',\n           regeln: 'TEMPUS: Präsens.\\nSYNTAX: Hauptsätze.\\nFOKUS: Zusammengesetzte Nomen verwenden (max. 2 Teile). Wörter in Sinn-Einheiten zerlegen (Lego-Prinzip).\\nMETRIKEN: 40-60 Wörter, 6-8 Sätze, Ø 5-7 Wörter/Satz.',\n           imageCount: 2 },\n  '3.1': { phase: 3, label: 'Phase 3.1 — Präteritum', fokus: 'Präteritum (Erzählzeit) — Veränderte Wortformen erkennen: sehen→sah, laufen→lief, kommen→kam',\n           regeln: 'TEMPUS: Durchgehend Präteritum (Vergangenheit).\\nSYNTAX: Einfache Sätze.\\nFOKUS: Starke/unregelmäßige Verben nutzen (lief, kam, sah, ging, fand).\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.\\nBEISPIEL: \\\"Der Hund lief weg. Er sah den Mond.\\\"',\n           imageCount: 2 },\n  '3.2': { phase: 3, label: 'Phase 3.2 — Vorsilben', fokus: 'Vorsilben (ver-, ent-, be-, ge-) — Bedeutungswandel: verlaufen, entdecken, beginnen, gewinnen',\n           regeln: 'TEMPUS: Präteritum.\\nSYNTAX: Einfache Sätze.\\nFOKUS: Verben mit Vorsilben einbauen (ver-, ent-, be-, ge-). Zeige wie Vorsilben den Sinn ändern.\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.',\n           imageCount: 2 },\n  '3.3': { phase: 3, label: 'Phase 3.3 — Suffixe', fokus: 'Suffixe/Nachsilben (-ung, -heit, -keit, -nis) — Abstrakte Nomen: Wohnung, Freiheit, Dunkelheit, Erkenntnis',\n           regeln: 'TEMPUS: Präteritum.\\nSYNTAX: Sätze mit Objekten.\\nFOKUS: Abstrakte Nomen auf -ung/-heit/-keit/-nis einbauen (Nomen die man nicht anfassen kann).\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.',\n           imageCount: 2 },\n  '3.4': { phase: 3, label: 'Phase 3.4 — Konjunktionen', fokus: 'Konjunktionen (weil, dass, aber, denn) — Kausale Zusammenhänge: Er weinte, weil er hinfiel.',\n           regeln: 'TEMPUS: Präteritum.\\nSYNTAX: Nebensätze erlaubt! Kausale Zusammenhänge bilden.\\nFOKUS: Konjunktionen (weil, dass, aber, denn, obwohl, damit) gezielt nutzen.\\nMETRIKEN: 80-100 Wörter, 8-10 Sätze, Ø 7-10 Wörter/Satz.',\n           imageCount: 2 },\n  '4.1': { phase: 4, label: 'Phase 4.1 — Satzklammer', fokus: 'Satzklammer mit trennbaren Verben — Das Satzende vorausahnen: aufmachen, mitnehmen, einkaufen',\n           regeln: 'SYNTAX: Nutze trennbare Verben (aufmachen, mitnehmen, einkaufen). Verb-Teil 2 muss ans Satzende (Satzklammer).\\nFOKUS: Modalverben + trennbare Verben.\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.\\nBEISPIEL: \\\"Mama kauft heute im Laden ein.\\\"',\n           imageCount: 3 },\n  '4.2': { phase: 4, label: 'Phase 4.2 — Dialoge', fokus: 'Dialoge & Redebegleiter — Intonation: \\\"Komm her!\\\", rief der Vater laut.',\n           regeln: 'SYNTAX: Viel wörtliche Rede mit Anführungszeichen nutzen.\\nFOKUS: Verben des Sagens variieren (rief, fragte, flüsterte, schrie). Verschiedene Sprecher einbauen.\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.',\n           imageCount: 3 },\n  '4.3': { phase: 4, label: 'Phase 4.3 — Relativsätze', fokus: 'Relativsätze (der, die, das, welcher) — Einschübe verarbeiten: Der Hund, der bellt, gehört mir.',\n           regeln: 'SYNTAX: Nutze Relativsätze (Schachtelsätze). Dinge genauer beschreiben mit Einschüben.\\nFOKUS: Relativpronomen (der, die, das, welcher) einsetzen.\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.',\n           imageCount: 3 },\n  '4.4': { phase: 4, label: 'Phase 4.4 — Vergleiche', fokus: 'Adjektive & Vergleiche — Komparativ und Superlativ: schneller als, am schönsten, größer als ein Haus',\n           regeln: 'SYNTAX: Beschreibende Sätze mit Steigerungen.\\nFOKUS: Komparativ (besser, schneller) und Superlativ (am besten, am schnellsten) nutzen. Vergleiche mit \\\"wie\\\" und \\\"als\\\".\\nMETRIKEN: 120-150 Wörter, 10-15 Sätze, Ø 8-12 Wörter/Satz.\\nBEISPIEL: \\\"Er war schneller als der Wind.\\\"',\n           imageCount: 3 },\n  '5.1': { phase: 5, label: 'Phase 5.1 — Synonyme', fokus: 'Synonyme & Wortfeld — Abwechslung: schleichen/huschen statt gehen, flüstern/murmeln statt sagen',\n           regeln: 'SYNTAX: Komplexe Sätze erlaubt.\\nFOKUS: Abwechslungsreichen Wortschatz nutzen. Synonyme verwenden statt Wortwiederholungen (gehen→schleichen/huschen, sagen→flüstern/rufen).\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 },\n  '5.2': { phase: 5, label: 'Phase 5.2 — Redewendungen', fokus: 'Redewendungen & Metaphern — Zwischen den Zeilen lesen: Schmetterlinge im Bauch, auf Wolke sieben',\n           regeln: 'SYNTAX: Komplexe Sätze.\\nFOKUS: Redewendungen und Sprichwörter einbauen. Bedeutung im Kontext erklären oder erschließbar machen. Idiome gezielt nutzen.\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 },\n  '5.3': { phase: 5, label: 'Phase 5.3 — Abstrakta', fokus: 'Abstrakta & Gefühle — Innenperspektive: Mut, Neid, Freiheit, Sehnsucht, Gerechtigkeit',\n           regeln: 'SYNTAX: Komplexe Sätze, Innenperspektive.\\nFOKUS: Abstrakte Begriffe (Mut, Neid, Freiheit, Sehnsucht) verwenden. Gefühle und Gedanken der Figuren beschreiben. Tiefe Charakterentwicklung.\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 },\n  '5.4': { phase: 5, label: 'Phase 5.4 — Sachtext', fokus: 'Passiv & Sachtext — Fakten und Erklärungen: wird gebaut, man verwendet, es wurde entdeckt',\n           regeln: 'SYNTAX: Sachtext-Stil. Passiv erlaubt (wird gebaut, wurde entdeckt).\\nFOKUS: Fakten, Erklärungen, logischer Aufbau. Keine Erzählung sondern Wissenstext. Unpersönliches \\\"man\\\" nutzen.\\nMETRIKEN: 200-300 Wörter, 15-20 Sätze.',\n           imageCount: 4 }\n};\n\nconst bildstilMap = {\n  'Aquarell': \"children's book watercolor illustration, soft pastel colors, warm and friendly, white background, no text in image\",\n  'Cartoon': \"colorful cartoon illustration for children, bold outlines, bright vivid colors, fun and playful, digital art, no text in image\",\n  'Buntstift': \"colored pencil drawing, hand-drawn children's illustration, crayon texture, sketch-like, warm paper background, no text in image\",\n  'Pixel-Art': \"pixel art illustration for kids, retro gaming style, colorful blocky pixels, 16-bit aesthetic, cheerful, no text in image\"\n};\n\nconst personaMeta = {\n  lea:  { name: 'Lea Lesestark',    neurotype: 'Neurotypisch',             imgUrl: 'https://rala84.github.io/lesekumpel/avatars/lea-lesestark.webp',   bio: 'Lea liebt Geschichten so sehr, dass sie am liebsten selbst in jedes Abenteuer hineinspringen würde! Sie erzählt so, als säßet ihr zusammen am Lagerfeuer — gemütlich, spannend und immer mit einem kleinen Schmunzler zwischendurch.' },\n  timo: { name: 'Timo Taktschritt', neurotype: 'LRS/Legasthenie',          imgUrl: 'https://rala84.github.io/lesekumpel/avatars/timo-taktschritt.webp', bio: 'Timo liebt Musik und Geschichten — am liebsten beides zusammen! Seine Sätze haben einen Rhythmus, den du fast mitklatschen kannst. Lesen fühlt sich bei ihm an wie dein Lieblingslied hören.' },\n  zara: { name: 'Zara Zapp',        neurotype: 'ADHS',                     imgUrl: 'https://rala84.github.io/lesekumpel/avatars/zara-zapp.webp',        bio: 'Zara kann einfach nicht stillsitzen — und ihre Geschichten auch nicht! Bei ihr geht es sofort los: Action, Überraschungen und immer eine Wendung, mit der du nicht gerechnet hast.' },\n  leo:  { name: 'Leo Klartext',     neurotype: 'Autismus-Spektrum',        imgUrl: 'https://rala84.github.io/lesekumpel/avatars/leo-klartext.webp',     bio: 'Leo sagt immer genau das, was er meint. Er mag es, wenn alles klar und verständlich ist. In seinen Geschichten weißt du immer, was passiert und warum — ganz ohne Rätsel.' },\n  mia:  { name: 'Mia Brücke',       neurotype: 'Deutsch als Zweitsprache', imgUrl: 'https://rala84.github.io/lesekumpel/avatars/mia-bruecke.webp',      bio: 'Mia nimmt dich an die Hand und zeigt dir die Welt, als wäre alles ganz neu und aufregend. Wenn ein Wort mal schwierig ist, erklärt sie es dir — wie eine gute Freundin.' }\n};\n\nconst p = personaMeta[persona] || personaMeta.lea;\nconst s = stufeData[stufe] || stufeData['3.4'];\nconst imageStyle = bildstilMap[bildstilKey] || bildstilMap['Aquarell'];\n\nconst userPrompt = `Schreib die Geschichte \"${title}\" auf Stufe ${stufe} (${s.label}).\nGenre: ${genre}\nKurzbeschreibung: ${description || 'Keine Beschreibung angegeben'}\n\nSTUFEN-REGELN:\n${s.regeln}\n\nFOKUS dieser Stufe: ${s.fokus}\nBaue gezielt Wörter mit diesem Fokus in die Geschichte ein.\n\nSILBENTRENNUNG (PFLICHT):\nTrenne jede Silbe mit Bindestrich nach DUDEN: Son-ne, Was-ser, Früh-stück, lau-fen\nEinsilbige Wörter bleiben ungeteilt: der, die, das, hat, kam\n\nAUFBAU (diese Labels verwenden):\nGESCHICHTE: [vollständiger Text]\nZUSAMMENFASSUNG: [2-3 Sätze]`;\n\nreturn { json: {\n  title, genre, stufe, stufeLabel: s.label, stufeFokus: s.fokus, phase,\n  persona, description, slug, date: new Date().toISOString().split('T')[0],\n  personaName: p.name, neurotype: p.neurotype,\n  personaImg: p.imgUrl, personaBio: p.bio,\n  imageCount: s.imageCount, stufeRegeln: s.regeln,\n  bildstilKey, imageStyle, userPrompt\n}};\n",
          "mode": "runOnceForEachItem"
        },
        "id": "prepare-data",
        "name": "Daten vorbereiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          500
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.item.json;\nconst { title, description, persona, stufe } = d;\n\nconst BLOCKED = ['gewalt', 'waffe', 'sex', 'drogen', 'sterben', 'töten', 'mord'];\nconst hit = BLOCKED.find(w => (title + ' ' + description).toLowerCase().includes(w));\nif (hit) throw new Error(`Inhalt nicht kindgerecht: \"${hit}\" gefunden`);\n\nconst VALID = {\n  lea:  ['1.0','2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4','5.1','5.2','5.3','5.4'],\n  mia:  ['1.0','2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4'],\n  timo: ['2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4'],\n  zara: ['2.1','2.2','2.3','2.4','3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4'],\n  leo:  ['3.1','3.2','3.3','3.4','4.1','4.2','4.3','4.4','5.1','5.2','5.3','5.4']\n};\nconst allowed = VALID[persona] || [];\nif (!allowed.includes(stufe)) {\n  throw new Error(`${persona} ist auf Stufe ${stufe} nicht verfügbar. Gültig: ${JSON.stringify(VALID[persona] || [])}`);\n}\nreturn { json: d };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "guardrail",
        "name": "Guardrail: Kind-Safe + Matrix",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          500
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.persona }}",
                      "rightValue": "lea",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "lea"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.persona }}",
                      "rightValue": "timo",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "timo"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.persona }}",
                      "rightValue": "zara",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "zara"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.persona }}",
                      "rightValue": "leo",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "leo"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.persona }}",
                      "rightValue": "mia",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "mia"
              }
            ]
          },
          "options": {}
        },
        "id": "switch-persona",
        "name": "Switch: Welche Persona?",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          900,
          500
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist Lea Lesestark, eine warme und neugierige Kinderbuchautorin.\nStimme: ausgewogen, lebendig, klassische Kinderbucherzählerin.\n\nDEINE REGELN:\n- Ausgewogene Satzlänge — nicht zu kurz, nicht zu lang\n- Lebendige Handlung: klarer Anfang, Mitte, Ende\n- Gelegentliche Metaphern erlaubt\n- Leichtes Augenzwinkern und Humor willkommen\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-lea",
        "name": "📖 Lea Lesestark (Standard/NT)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1140,
          100
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-lea",
        "name": "⚙️ Gemini (Lea)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1140,
          280
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist Timo Taktschritt, ein rhythmischer Kinderbuchautor.\nStimme: gleichmäßig, musikalisch — jeder Satz klingt wie Musik.\n\nDEINE REGELN:\n- Bevorzuge 1–2-silbige Wörter wo möglich\n- KEIN Genitiv: schreib 'das Haus von der Katze' statt 'das Haus der Katze'\n- Keine Konjunktionshäufung (nicht mehrere 'weil, da, aber, obwohl' im gleichen Satz)\n- Absatz-Break alle 2–3 Sätze\n- Satzenden klingen klangvoll (Alliteration oder Reim optional)\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-timo",
        "name": "🎵 Timo Taktschritt (LRS/Legasthenie)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1140,
          400
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-timo",
        "name": "⚙️ Gemini (Timo)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1140,
          580
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist Zara Zapp, eine energetische Kinderbuchautorin.\nStimme: schnell, direkt, immer mittendrin.\n\nDEINE REGELN:\n- ERSTER SATZ = sofortige Action! Keine Einleitung, keine Beschreibung.\n- Max. 2 Sätze pro Absatz\n- Jeder Abschnitt endet mit Überraschung oder offener Frage\n- Aktive Verben: rannte, schrie, packte, sprang, entdeckte\n- Kein beschreibender Sumpf — keine langen Adjektiv-Ketten\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-zara",
        "name": "⚡ Zara Zapp (ADHS)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1140,
          700
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-zara",
        "name": "⚙️ Gemini (Zara)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1140,
          880
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist Leo Klartext, ein präziser, ehrlicher Kinderbuchautor.\nStimme: zuverlässig, direkt — du sagst genau was du meinst.\n\nDEINE REGELN:\n- KEINE Metaphern oder Redewendungen (nicht: 'Schmetterlinge im Bauch')\n- Gefühle IMMER direkt benennen: 'Er war wütend, weil...'\n- Figurenmotivationen vollständig erklären\n- Kein Sarkasmus, keine Ironie\n- Linearer Aufbau: chronologisch, keine Rückblenden\n- Doppeldeutigkeiten vermeiden\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-leo",
        "name": "🔍 Leo Klartext (Autismus-Spektrum)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1140,
          1000
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-leo",
        "name": "⚙️ Gemini (Leo)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1140,
          1180
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist Mia Brücke, eine einladende, geduldige Kinderbuchautorin.\nStimme: bildhaft — erklärt die Welt als wäre alles neu und spannend.\n\nDEINE REGELN:\n- KEIN Passiv ('wurde gegessen' → schreib stattdessen 'der Hund aß')\n- KEINE Komposita — trenne zusammengesetzte Wörter auf ('Handtasche' → 'die Tasche für die Hand')\n- KEINE kulturellen Referenzen die man kennen muss\n- Schwierige Wörter sofort inline erklären: 'der Döner — das ist Fleisch in Brot'\n- Einfache, klare Satzstruktur\n\nSchreib auf Deutsch. Gib NUR den Text aus mit den Labels GESCHICHTE: und ZUSAMMENFASSUNG:."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-mia",
        "name": "🌍 Mia Brücke (DaZ)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1140,
          1300
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-mia",
        "name": "⚙️ Gemini (Mia)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1140,
          1480
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $('Daten vorbereiten').first().json;\nconst responseText = $input.item.json.text || '';\n\nconst storyMatch = responseText.match(/GESCHICHTE:[\\s\\S]*?(?=ZUSAMMENFASSUNG:|$)/);\nconst summaryMatch = responseText.match(/ZUSAMMENFASSUNG:[\\s\\S]*/);\n\nconst storyText = storyMatch ? storyMatch[0].replace('GESCHICHTE:', '').trim() : responseText.trim();\nconst summaryText = summaryMatch ? summaryMatch[0].replace('ZUSAMMENFASSUNG:', '').trim() : storyText.split('\\n')[0];\nconst wordCount = storyText.split(/\\s+/).length;\n\nreturn { json: { ...input, storyText, summaryText, wordCount } };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "parse-story",
        "name": "Geschichte parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          700
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ 'Analysiere diesen Kindertext und gib JSON zurück:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON, kein Markdown):\\n{\"wortschatz\": [{\"wort\": \"Beispiel\", \"silben\": \"Bei-spiel\", \"bedeutung\": \"Kurze Erklärung\"}], \"tags\": [\"tag1\", \"tag2\"]}\\n\\nWortschatz: 3-6 schwierige Wörter. Tags: 3-5 Themen.' }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist ein Linguistik-Assistent für Kinderliteratur.\nDeine Aufgabe: Analysiere Kindertexte und gib strukturiertes JSON zurück.\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen, keine Code-Blöcke."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-linguistik",
        "name": "📚 Linguistik-Anreicherung",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1680,
          700
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-linguistik",
        "name": "⚙️ Gemini (Linguistik)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1680,
          880
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Geschichte parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet wortschatz = [], tags = [];\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); wortschatz = p.wortschatz || []; tags = p.tags || []; }\n} catch(e) { tags = [prev.genre]; }\n\nreturn { json: { ...prev, wortschatz, tags } };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "parse-linguistik",
        "name": "Linguistik parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1940,
          700
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ 'Erstelle 3 Multiple-Choice-Fragen zu diesem Kindertext:\\n\\n' + $json.storyText + '\\n\\nFormat (nur JSON-Array, kein Markdown):\\n[{\"q\":\"Frage?\",\"a\":[\"Option A\",\"Option B\",\"Option C\"],\"correct\":0}]\\n\\ncorrect = Index der richtigen Antwort (0, 1 oder 2). Fragen auf Deutsch, für 6-10 Jahre.' }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist ein Quiz-Ersteller für Kinderliteratur (Zielgruppe: 6-10 Jahre).\nErstelle genau 3 Multiple-Choice-Fragen auf Deutsch.\nJede Frage hat genau 3 Antwortoptionen (eine richtig, zwei plausibel falsch).\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-quiz",
        "name": "🧠 Quizmaster",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          2200,
          700
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-quiz",
        "name": "⚙️ Gemini (Quiz)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2200,
          880
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Linguistik parsen').first().json;\nconst rawText = $input.item.json.text || '';\n\nlet quizData = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) quizData = JSON.parse(m[0]); } catch(e) {}\n\nreturn { json: { ...prev, quizData } };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "parse-quiz",
        "name": "Quiz parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2460,
          700
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.item.json;\nconst imageCount = d.imageCount || 1;\nconst style = d.imageStyle || \"children's book watercolor illustration, soft pastel colors, warm and friendly, white background, no text in image\";\nconst sceneUserPrompt = `Extrahiere ${imageCount} Schlüsselszene(n) aus dieser Geschichte als englische Bildprompts.\n\nSTIL (immer gleich): ${style}\n\nFormat (nur JSON-Array, kein Markdown):\n[{\"scene\":1,\"prompt\":\"Englischer kinderfreundlicher Bildprompt im gewählten Stil\"}]\n\nGeschichte:\n${d.storyText}`;\nreturn { json: { ...d, sceneUserPrompt } };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "scene-prep",
        "name": "Bildszenen vorbereiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2700,
          700
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.sceneUserPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist ein Bildregisseur für Kinderbücher.\nErstelle sichere, kinderfreundliche englische Bildprompts für KI-Bildgenerierung.\nAntworte NUR mit dem JSON-Array — kein Markdown, keine Erklärungen."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-szenen",
        "name": "🎨 Szenen-Extraktor",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          2940,
          700
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "llm-szenen",
        "name": "⚙️ Gemini (Szenen)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2940,
          880
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Bildszenen vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\n\nlet scenes = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) scenes = JSON.parse(m[0]); } catch(e) {}\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  scenes = [{ scene: 1, prompt: `Children's book watercolor illustration, soft pastel colors, a friendly scene from the story '${prev.title}', child-safe` }];\n}\n\nreturn scenes.map(s => ({\n  json: {\n    ...prev,\n    sceneIndex: s.scene,\n    imagePrompt: s.prompt,\n    imageFilename: `${prev.slug}-${s.scene}.png`,\n    imageGithubPath: `bilder/${prev.slug}-${s.scene}.png`,\n    geminiRequestBody: {\n      contents: [{ role: 'user', parts: [{ text: s.prompt }] }],\n      generationConfig: { responseModalities: ['image', 'text'] }\n    }\n  }\n}));\n",
          "mode": "runOnceForAllItems"
        },
        "id": "parse-scenes",
        "name": "Szenen parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          700
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "image-loop",
        "name": "Bild-Loop",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3440,
          700
        ]
      },
      {
        "parameters": {
          "resource": "image",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash-image",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
          },
          "prompt": "={{ $json.imagePrompt }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "id": "generate-image",
        "name": "Gemini: Bild generieren",
        "position": [
          3660,
          580
        ],
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "id": "extract-image",
        "name": "Bild-Daten extrahieren",
        "position": [
          3880,
          580
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "RaLa84",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "lesekumpel",
            "mode": "list",
            "cachedResultName": "lesekumpel",
            "cachedResultUrl": "https://github.com/RaLa84/lesekumpel"
          },
          "filePath": "={{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageGithubPath }}",
          "fileContent": "={{ $json.data }}",
          "commitMessage": "=Bild: {{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageFilename }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "id": "upload-image",
        "name": "GitHub: Bild hochladen",
        "position": [
          4100,
          580
        ],
        "credentials": {
          "githubOAuth2Api": {
            "id": "WBP07xjckQiul5s7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://raw.githubusercontent.com/RaLa84/lesekumpel/main/n8n-config/demo-template.html",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "id": "fetch-template",
        "name": "GitHub: Template laden",
        "position": [
          3660,
          860
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $('Quiz parsen').first().json;\nlet template = $input.item.json.data;\n\n// Generate image tags for all images (1 to imageCount)\nconst imageCount = data.imageCount || 1;\nlet imagesHtml = '';\nfor (let i = 1; i <= imageCount; i++) {\n  const imgUrl = `https://rala84.github.io/lesekumpel/bilder/${data.slug}-${i}.png`;\n  imagesHtml += `<img src=\"${imgUrl}\" alt=\"${data.title}\" class=\"hero-image\" onerror=\"this.style.display='none'\">\n        `;\n}\n\ntemplate = template\n  .replace(/\\{\\{STORY_TITLE\\}\\}/g, data.title)\n  .replace(/\\{\\{STORY_DATE\\}\\}/g, data.date)\n  .replace(/\\{\\{PERSONA_NAME\\}\\}/g, data.personaName)\n  .replace(/\\{\\{PERSONA_IMG_URL\\}\\}/g, data.personaImg)\n  .replace(/\\{\\{PERSONA_BIO\\}\\}/g, data.personaBio)\n  .replace(/\\{\\{STUFE\\}\\}/g, String(data.stufe))\n  .replace(/\\{\\{STUFE_LABEL\\}\\}/g, data.stufeLabel || '')\n  .replace(/\\{\\{NEUROTYPE\\}\\}/g, data.neurotype)\n  .replace(/\\{\\{GENRE\\}\\}/g, data.genre)\n  .replace(/\\{\\{STORY_IMAGES_HTML\\}\\}/g, imagesHtml.trim())\n  .replace(/\\{\\{HERO_IMAGE_URL\\}\\}/g, `https://rala84.github.io/lesekumpel/bilder/${data.slug}-1.png`)\n  .replace(/\\{\\{RAW_STORY_TEXT\\}\\}/g, JSON.stringify(data.storyText || ''))\n  .replace(/\\{\\{RAW_SUMMARY_TEXT\\}\\}/g, JSON.stringify(data.summaryText || ''))\n  .replace(/\\{\\{QUIZ_DATA_JSON\\}\\}/g, JSON.stringify(data.quizData || []))\n  .replace(/\\{\\{DICTIONARY_JSON\\}\\}/g, JSON.stringify(data.wortschatz || []))\n  .replace(/\\{\\{WORD_COUNT\\}\\}/g, String(data.wordCount || 0))\n  .replace(/\\{\\{SLUG\\}\\}/g, data.slug)\n  .replace(/\\{\\{RELATED_STORIES_HTML\\}\\}/g, '');\n\nconst htmlBase64 = Buffer.from(template, 'utf8').toString('base64');\nconst storyUrl = `https://rala84.github.io/lesekumpel/demo-texte/${data.slug}.html`;\n\nreturn { json: { ...data, htmlBase64, filePath: `demo-texte/${data.slug}.html`, commitMessage: `Demo-Text: ${data.title} — ${data.personaName} Stufe ${data.stufe}`, storyUrl } };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "assemble-html",
        "name": "HTML assemblieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3880,
          860
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "RaLa84",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "lesekumpel",
            "mode": "list",
            "cachedResultName": "lesekumpel",
            "cachedResultUrl": "https://github.com/RaLa84/lesekumpel"
          },
          "filePath": "={{ $json.filePath }}",
          "fileContent": "={{ $json.htmlBase64 }}",
          "commitMessage": "={{ $json.commitMessage }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "id": "commit-html",
        "name": "GitHub: HTML committen",
        "position": [
          4100,
          860
        ],
        "credentials": {
          "githubOAuth2Api": {
            "id": "WBP07xjckQiul5s7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $('HTML assemblieren').first().json;\nreturn { json: { status: 'success', storyTitle: data.title, personaName: data.personaName, stufe: data.stufe, wordCount: data.wordCount, imageCount: data.imageCount, storyUrl: data.storyUrl } };\n",
          "mode": "runOnceForEachItem"
        },
        "id": "build-result",
        "name": "Ergebnis aufbauen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4320,
          860
        ]
      },
      {
        "parameters": {
          "jsCode": "return { json: { status: \"success\", storyTitle: $input.item.json.storyTitle, storyUrl: $input.item.json.storyUrl, personaName: $input.item.json.personaName, stufe: $input.item.json.stufe, wordCount: $input.item.json.wordCount } };",
          "mode": "runOnceForEachItem"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "form-response",
        "name": "Webhook-Antwort",
        "position": [
          4540,
          860
        ]
      },
      {
        "parameters": {
          "maxItems": 1
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "id": "limit-one",
        "name": "Nur 1 Item",
        "position": [
          3550,
          860
        ]
      }
    ],
    "connections": {
      "Daten vorbereiten": {
        "main": [
          [
            {
              "node": "Guardrail: Kind-Safe + Matrix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardrail: Kind-Safe + Matrix": {
        "main": [
          [
            {
              "node": "Switch: Welche Persona?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: Welche Persona?": {
        "main": [
          [
            {
              "node": "📖 Lea Lesestark (Standard/NT)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🎵 Timo Taktschritt (LRS/Legasthenie)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "⚡ Zara Zapp (ADHS)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🔍 Leo Klartext (Autismus-Spektrum)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🌍 Mia Brücke (DaZ)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Lea)": {
        "ai_languageModel": [
          [
            {
              "node": "📖 Lea Lesestark (Standard/NT)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Timo)": {
        "ai_languageModel": [
          [
            {
              "node": "🎵 Timo Taktschritt (LRS/Legasthenie)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Zara)": {
        "ai_languageModel": [
          [
            {
              "node": "⚡ Zara Zapp (ADHS)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Leo)": {
        "ai_languageModel": [
          [
            {
              "node": "🔍 Leo Klartext (Autismus-Spektrum)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Mia)": {
        "ai_languageModel": [
          [
            {
              "node": "🌍 Mia Brücke (DaZ)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "📖 Lea Lesestark (Standard/NT)": {
        "main": [
          [
            {
              "node": "Geschichte parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🎵 Timo Taktschritt (LRS/Legasthenie)": {
        "main": [
          [
            {
              "node": "Geschichte parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚡ Zara Zapp (ADHS)": {
        "main": [
          [
            {
              "node": "Geschichte parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Leo Klartext (Autismus-Spektrum)": {
        "main": [
          [
            {
              "node": "Geschichte parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🌍 Mia Brücke (DaZ)": {
        "main": [
          [
            {
              "node": "Geschichte parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Geschichte parsen": {
        "main": [
          [
            {
              "node": "📚 Linguistik-Anreicherung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Linguistik)": {
        "ai_languageModel": [
          [
            {
              "node": "📚 Linguistik-Anreicherung",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "📚 Linguistik-Anreicherung": {
        "main": [
          [
            {
              "node": "Linguistik parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Linguistik parsen": {
        "main": [
          [
            {
              "node": "🧠 Quizmaster",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Quiz)": {
        "ai_languageModel": [
          [
            {
              "node": "🧠 Quizmaster",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🧠 Quizmaster": {
        "main": [
          [
            {
              "node": "Quiz parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Quiz parsen": {
        "main": [
          [
            {
              "node": "Bildszenen vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bildszenen vorbereiten": {
        "main": [
          [
            {
              "node": "🎨 Szenen-Extraktor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Szenen)": {
        "ai_languageModel": [
          [
            {
              "node": "🎨 Szenen-Extraktor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🎨 Szenen-Extraktor": {
        "main": [
          [
            {
              "node": "Szenen parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Szenen parsen": {
        "main": [
          [
            {
              "node": "Bild-Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bild-Loop": {
        "main": [
          [
            {
              "node": "Nur 1 Item",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gemini: Bild generieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini: Bild generieren": {
        "main": [
          [
            {
              "node": "Bild-Daten extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bild-Daten extrahieren": {
        "main": [
          [
            {
              "node": "GitHub: Bild hochladen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub: Bild hochladen": {
        "main": [
          [
            {
              "node": "Bild-Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub: Template laden": {
        "main": [
          [
            {
              "node": "HTML assemblieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML assemblieren": {
        "main": [
          [
            {
              "node": "GitHub: HTML committen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub: HTML committen": {
        "main": [
          [
            {
              "node": "Ergebnis aufbauen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ergebnis aufbauen": {
        "main": [
          [
            {
              "node": "Webhook-Antwort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nur 1 Item": {
        "main": [
          [
            {
              "node": "GitHub: Template laden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook: Geschichte anfordern": {
        "main": [
          [
            {
              "node": "Daten vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Raik Lasner",
    "name": null,
    "description": null
  }
}